%section.card
  %h4.card-header カバーしたアーティスト
  .card-body
    %p<
      %mark= artist_to_count.size
      組のアーティストの曲が演奏されました。
      %br
      特に次のアーティストが人気です。
  .list-group.list-group-flush
    - artist_to_count.select { |_, count| count >= 5 }.each do |artist, count|
      = link_to songs_path(q: artist),
                class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center' do
        = artist
        %span.badge.badge-pill.badge-secondary= count
  .card-body
    %p 他にも次のようなアーティストが演奏されています。
    %ul.list-inline
      - artist_to_count.select { |_, count| count < 5 }.sample(20).each do |artist, count|
        %li.list-inline-item
          = link_to artist, songs_path(q: artist)
          %span.badge.badge-pill.badge-secondary= count
