= render 'panel', title: title do
  .panel-body
    %p.lead
      構成人数の平均は
      %mark= (formations.inject(0) { |sum, (f, c)| sum += f * c } / total.to_f).round(2)
      人でした
    %table.table.table-striped
      %thead
        %tr
          %th 人数
          %th 割合
          %th 曲数
      %tbody
      - formations.each do |formation, count|
        %tr
          %td= "#{formation}人"
          %td
            = (count / total.to_f * 100).round(1)
            \%
          %td
            %span.badge= count
