- if logged_in? && @regular_meeting.place.present?
  = render 'regular_meeting', regular_meeting: @regular_meeting

%header.jumbotron
  .row.justify-content-center.align-items-center
    .col-sm-8.col-md-6.col-lg
      = image_tag 'logo.png', alt: 'LiveLog logo', class: 'img-fluid'
    .col-lg-8.text-center
      %h1.display-3 LiveLog
      %p.lead<
        京都大学を中心に活動するアコースティック軽音サークル
        %br
        「<a href="http://ku-unplugged.net/" target="_blank">京大アンプラグド</a>」のセットリスト管理アプリ
      = render 'songs/search_form'
      %p
        = link_to 'https://play.google.com/store/apps/details?id=net.ku_unplugged.livelog&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1', target: '_blank' do
          %img{src: 'https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png', alt: 'Google Play で手に入れよう', width: 160}

- if @song.present? && @song.watchable?(current_user)
  %section
    %header.page-header
      %h2 Today's Pickup!
    = render 'songs/song_detail', song: @song

- if @lives.exists?
  %section
    %header.page-header
      %h2 Latest Lives
    .row
      - @lives.each do |live|
        .col-lg-3.col-md-4.col-sm-6
          .card.mb-3
            .card-body
              %h4.card-title= live.name
              %h6.card-subtitle.text-muted.mb-3= live.place.present? ? " #{I18n.l(live.date)} @#{live.place} " : I18n.l(live.date)
              - if live.songs.present?
                - song = live.songs.sample
                %p.card-text
                  = link_to_song(song)
                  - if song.artist.present?
                    \/
                    = link_to_search song.artist, artist: song.artist
                  %br
                  = "など#{live.songs.size}曲"
              = link_to '詳細へ', live_path(live), class: 'card-link'
              = link_to 'アルバムへ', live.album_url, class: 'card-link' if logged_in? && live.album_url.present?
