%header.jumbotron
  .row.justify-content-center.align-items-center
    .col-sm-8.col-md-6.col-lg
      = image_tag 'logo.png', alt: 'LiveLog logo', class: 'img-fluid'
    .col-lg-8.text-center
      %h1.display-3 LiveLog
      %p.lead<
        京都大学を中心に活動するアコースティック軽音サークル
        %br
        「<a href="http://ku-unplugged.net/" target="_blank">京大アンプラグド</a>」のセットリスト管理アプリ
      = render 'songs/search_form'
      %p
        = link_to 'https://play.google.com/store/apps/details?id=net.ku_unplugged.livelog&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1', target: '_blank' do
          %img{src: 'https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png', alt: 'Google Play で手に入れよう', width: 160}

%section.mb-3
  %header.page-header
    %h2 Today's Pickup!
  = render @song

%section
  %header.page-header
    %h2 Latest Lives
.row
  .col-lg-6
    .card
      %table.table.table-hover
        %tbody
          = render @lives, cached: true
