%header.jumbotron
  .row.justify-content-center.align-items-center
    .col-8.col-md-6.col-lg-4
      = image_tag 'logo.png', alt: 'LiveLog logo', class: 'img-fluid'
    .col-lg.text-center
      %h1.display-3 LiveLog
      %p.lead<
        京都大学を中心に活動するアコースティック軽音サークル
        %br
        「#{link_to '京大アンプラグド', homepage_url, target: '_blank', rel: 'noopener' }」のセットリスト管理アプリ
      = render 'songs/form_search'

%section.mb-3
  %header.page-header
    %h2.h3 今日のピックアップ
  .song-list
    = render @song if @song

%section
  %header.page-header
    %h2.h3 最近のライブ
.row
  .col-lg-6
    .card
      %table.table.table-hover
        %tbody
          = render partial: 'lives/live', collection: @lives, cached: true
