- provide(:title, 'Stats')
- total = @songs.count
%article
  %header.page-header
    %h1.display-4<
      Stats
      %small.text-muted= @year if @year.present?

  %p.lead<
    - if @year.present?
      %mark= @year
      年度の京大アンプラグドに関するデータです。
    - else
      過去1年間の京大アンプラグドに関するデータを紹介します。
    %br
    この1年間に
    %mark= @playings.distinct.count(:user_id)
    人のメンバーで
    %mark= total
    曲を演奏しました。

  %aside.card.mb-3
    .card-body.form-inline
      = label_tag :y, '年度', class: 'sr-only'
      = select_tag :y,
                   options_for_select(Live.years.unshift(''), selected: @year),
                   class: 'form-control',
                   onchange: "location.href='#{request.path}?y=' + $(this).val();"
      年度の情報を見る

  .row
    .col-lg.mb-3
      %section.card
        %h4.card-header 演奏された楽器
        - inst_to_count = Playing.resolve_insts(@playings.count_insts)
        .card-body
          %p<
            %mark= inst_to_count.size
            種類の楽器が演奏されました。
          %ul.list-inline
            - inst_to_count.each do |inst, count|
              %li.list-inline-item.lead
                = link_to_search inst, instruments: inst, date_range: @date_range
                %span.badge.badge-pill.badge-secondary= count

    .col-lg.mb-3
      %section.card
        %h4.card-header カバーしたアーティスト
        - artist_to_count = @songs.where.not(artist: [nil, '']).group(:artist).count.sort { |(_, c1), (_, c2)| c2 <=> c1 }
        .card-body
          %p<
            %mark= artist_to_count.size
            組のアーティストの曲が演奏されました。
            %br
            特に次のアーティストが人気です。
        .list-group.list-group-flush
          - artist_to_count.select { |_, count| count >= 5 }.each do |artist, count|
            = link_to_search({ artist: artist, date_range: @date_range },
                             class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center') do
              = artist
              %span.badge.badge-pill.badge-secondary= count
        .card-body
          %p 他にも次のようなアーティストが演奏されています。
          %ul.list-inline
            - artist_to_count.select { |_, count| count < 5 }.sample(20).each do |artist, count|
              %li.list-inline-item
                = link_to_search artist, artist: artist, date_range: @date_range
                %span.badge.badge-pill.badge-secondary= count

    .col-lg.mb-3
      %section.card
        %h4.card-header バンドの構成人数
        - formation_to_count = Playing.count_formation(@playings.count_members_per_song)
        .card-body
          %p<
            構成人数の平均は
            %mark= (formation_to_count.inject(0) { |sum, (f, c)| sum += f * c } / total.to_f).round(2)
            人でした。
        %table.table.table-hover
          %thead
            %tr
              %th 人数
              %th 割合
              %th 曲数
          %tbody
          - formation_to_count.each do |formation, count|
            %tr{ onclick: "location.href='#{search_songs_path(players_lower: formation, players_upper: formation, date_lower: @date_range.begin, date_upper: @date_range.end)}#results';" }
              %td= "#{formation}人"
              %td<
                = (count / total.to_f * 100).round(1)
                \%
              %td
                %span.badge.badge-pill.badge-secondary= count
