- provide(:title, 'Stats')
%article
  %header.page-header
    %h1<
      京大アンプラグドについて
      = "(#{params[:y]}年度)" if params[:y]

  - if logged_in?
    %aside.form-inline.well.well-sm
      = select_tag :y,
                   options_for_select(Live.years, selected: params[:y]),
                   class: 'form-control',
                   onchange: "location.href='#{request.path}?y=' + $(this).val();"
      = label_tag :y, '年度の情報を見る'

  %p.lead<
    - if params[:y]
      %mark= params[:y]
      年度の京大アンプラグドのデータです。
    - else
      過去1年間の京大アンプラグドのデータを紹介します。
    %br
    この1年間に
    - members_count = @playings.group(:user_id).count
    %mark= members_count.size
    人のメンバーで
    %mark= @songs.count
    曲を演奏しました。

  .row
    = render 'instruments',
             title: '演奏された楽器',
             instruments: Playing.resolve_insts(@playings.count_insts)
    = render 'artists',
             title: 'カバーしたアーティスト',
             artists: @songs.where.not(artist: [nil, '']).group(:artist).count.sort { |(_, c1), (_, c2)| c2 <=> c1 }
    = render 'formations',
             title: 'バンドの構成人数',
             formations: Playing.count_formation(@playings.count_members_per_song),
             total: @songs.count
