- provide(:title, 'プロフィール設定')

%header
  %h1 設定

%hr

= render 'settings/nav'

%section
  = form_with model: @member, url: profile_path, local: true, multipart: true do |form|

    = render 'shared/error_messages', errors: @member.errors

    .form-group
      = label_tag :avatar, 'プロフィール画像'
      = file_field_tag :avatar, accept: 'image/png,image/jpeg', class: 'form-control-file'

    .form-group
      = form.label :name
      = form.text_field :name, required: true, class: 'form-control'

    .form-group
      = form.label :url
      = form.url_field :url, class: 'form-control'

    .form-group
      = form.label :bio
      = form.text_area :bio, class: 'form-control'

    = form.submit class: 'btn btn-primary'
