- provide(:title, '開発者設定')

%header
  %h1 設定

%hr

= render 'settings/nav'

%section
  - if @developer.nil?
    %p= link_to icon('fab', 'github', 'GitHub アカウントと連携して開発者登録する'), '/auth/github', method: :post, class: 'btn btn-outline-info'
    %p
      開発者登録すると、
      = link_to 'LiveLog GraphQL API', 'https://github.com/sankichi92/LiveLog/wiki', target: '_blank'
      や LiveLog アカウントによる Single Sign-On を利用するアプリケーションを開発できるようになります。

  - else
    %p=link_to icon('fab', 'github', @developer.github_username), github_user_url(@developer.github_username), target: '_blank', class: 'badge badge-info'

    %p= link_to icon('fas', 'plus', 'アプリケーションを登録する'), new_client_path, class: 'btn btn-outline-primary'

    - unless @developer.clients.empty?
      .table-responsive
        %table.table.table-hover.text-nowrap.table-vertical-middle
          %thead
            %tr
              %th ロゴ
              - %i[name auth0_id].each do |attr|
                %th= Client.human_attribute_name(attr)
          %tbody
            - @developer.clients.each do |client|
              %tr.clickable{ data: { controller: 'tr-link', tr_link_location: edit_client_path(client), action: 'click->tr-link#clickRow' } }
                %td= image_tag client.logo_url, class: 'rounded small'
                %td= client.name
                %td= client.auth0_id
