- provide(:title, 'Log in')
%header.page-header
  %h1 Log in
= form_for(:session, url: login_path, html: {class: 'form-horizontal well'}) do |f|
  .form-group
    = f.label :email, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.email_field :email, class: 'form-control'

  .form-group
    = f.label :password, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.password_field :password, class: 'form-control'
      %span.help-block= link_to 'forgot password', new_password_reset_path

  .form-group
    .col-sm-offset-3.col-sm-9
      .checkbox
        %label
          = f.check_box :remember_me
          Remember me

  .form-group
    .col-sm-offset-3.col-sm-9
      = f.submit 'Log in', class: 'btn btn-primary'
