- provide(:title, 'Reset Password')
%header.page-header
  %h1 Reset Password

= form_for @user, url: password_reset_path(params[:id]) do |f|
  = render 'shared/error_messages', object: f.object

  = hidden_field_tag :email, @user.email

  = render 'passwords/form', f: f, label: t('views.users.password_new')

  = f.submit class: 'btn btn-primary'
