%header.content-header
  .container-fluid
    .row.mb-3
      .col-sm-6
        %h1= Member.model_name.human
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item= link_to 'Home', admin_root_path
          %li.breadcrumb-item.active= Member.model_name.human

%section.content
  .container-fluid
    %p= link_to icon('fas', 'user-plus', 'メンバーを追加する'), new_admin_member_path, class: 'btn btn-outline-primary'

    %section.card
      .card-header.border-bottom-0
        %nav.nav.nav-pills
          - Member.joined_years.each do |year|
            = link_to year, admin_members_path(year: year), class: "nav-item nav-link#{year == @year ? ' active' : ''}"
      .card-body.p-0
        .table-responsive
          %table.table-admin.table.table-striped.text-nowrap.mb-0
            %thead
              %tr
                - %i[id name plays_count].each do |attr|
                  %th{ scope: 'col' }= Member.human_attribute_name(attr)
                %th{ scope: 'col' } ステータス
                %th{ scope: 'col' } 操作
            %tbody
              - @members.each do |member|
                %tr
                  %td= member.id
                  %td= member.name
                  %td= member.plays_count
                  %td= member.user&.status_badge
                  %td
                    = link_to icon('fas', 'eye'), member_path(member), class: 'btn btn-secondary'
                    - if member.user.nil?
                      - if member.plays_count.zero?
                        = link_to icon('fas', 'trash', '削除する'), admin_member_path(member), method: :delete, class: 'btn btn-warning', data: { confirm: "本当に #{member.joined_year_and_name} を削除しますか" }
                      - else
                        = link_to icon('fas', 'envelope', '招待する'), new_member_user_path(member), class: 'btn btn-primary'
                    - elsif member.user.admin.nil?
                      = link_to icon('fas', 'user-slash', 'ログイン情報を削除する'), admin_member_user_path(member), method: :delete, class: 'btn btn-warning', data: { confirm: "本当に #{member.joined_year_and_name} のログイン情報を削除しますか" }
                      = link_to icon('fas', 'users-cog', '管理者にする'), admin_member_administrator_path(member), method: :post, class: 'btn btn-danger', data: { confirm: "本当に #{member.joined_year_and_name} を管理者にしますか" }
