%header.content-header
  .container-fluid
    .row.mb-3
      .col-sm-6
        %h1= Live.model_name.human
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item= link_to 'Home', admin_root_path
          %li.breadcrumb-item.active= Live.model_name.human

%section.content
  .container-fluid
    %p= link_to icon('fas', 'plus', '新規作成'), new_admin_live_path, class: 'btn btn-outline-primary'

    %section.card
      .card-header.border-bottom-0
        %nav.nav.nav-pills
          - Live.years.each do |year|
            = link_to year, admin_lives_path(year: year), class: "nav-item nav-link#{year == @year ? ' active' : ''}"
      .card-body.p-0
        .table-responsive
          %table.table-admin.table.table-striped.text-nowrap.mb-0
            %thead
              %tr
                - %i[id date name place comment album songs_count].each do |attr|
                  %th{ scope: 'col' }= Live.human_attribute_name(attr)
                %th{ scope: 'col' } ステータス
                %th{ scope: 'col' } 操作
            %tbody
              - @lives.each do |live|
                %tr
                  %td= live.id
                  %td= l live.date
                  %td= live.name
                  %td= live.place
                  %td= simple_format(live.comment, class: 'mb-0')
                  %td= link_to_if live.album_url.present?, URI(live.album_url.to_s).host, live.album_url
                  %td= link_to live.songs_count, admin_live_path(live)
                  %td= live.status_badge
                  %td
                    = link_to icon('fas', 'list', '曲一覧'), admin_live_path(live), class: 'btn btn-default'
                    - if live.published?
                      = link_to icon('fas', 'eye'), live_path(live), class: 'btn btn-secondary'
                    - else
                      - if live.entry_guideline.nil?
                        = link_to icon('fas', 'paper-plane', 'エントリーを募集する'), new_admin_live_entry_guideline_path(live), class: 'btn btn-primary'
                      - else
                        = link_to icon('fas', 'paper-plane', 'エントリー要項を編集する'), edit_admin_live_entry_guideline_path(live), class: 'btn btn-outline-primary'
                      - if live.songs_count.positive?
                        = link_to icon('fas', 'unlock', '公開する'), publish_admin_live_path(live), method: :post, class: 'btn btn-danger', data: { confirm: "本当に #{live.title} を公開しますか" }
                    = link_to icon('fas', 'edit'), edit_admin_live_path(live), class: 'btn btn-info'
                    - if live.songs_count.zero?
                      = link_to icon('fas', 'trash', '削除する'), admin_live_path(live), method: :delete, class: 'btn btn-warning', data: { confirm: "本当に #{live.title} を削除しますか" }
