%header.content-header
  .container-fluid
    .row.mb-3
      .col-sm-6
        %h1= @live.title

      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item= link_to 'Home', admin_root_path
          %li.breadcrumb-item= link_to Live.model_name.human, admin_lives_path
          %li.breadcrumb-item.active= @live.title

%section.content
  .container-fluid
    %p= link_to icon('fas', 'plus', '曲を追加する'), new_admin_live_song_path(@live), class: 'btn btn-outline-primary'

    %section.card
      .card-body.p-0
        .table-responsive
          %table.table-admin.table.table-striped.text-nowrap.mb-0
            %thead
              %tr
                - %i[id position name artist youtube_id audio playings].each do |attr|
                  %th{ scope: 'col' }= Song.human_attribute_name(attr)
                %th{ scope: 'col' } 操作
            %tbody
              - @songs.each do |song|
                %tr
                  %td= song.id
                  %td= song.time_and_position
                  %td
                    =song.name
                    %small= '(オリジナル曲)' if song.original?
                  %td= song.artist
                  %td= link_to_if song.youtube_id.present?, song.youtube_id, song.youtube_url
                  %td
                    - if song.audio.attached?
                      = audio_tag song.audio_url, controls: true
                  %td
                    %ul.list-inline.mb-0
                      - song.playings.each do |playing|
                        %li.list-inline-item= playing.instrument_and_name
                  %td
                    - if song.live.published?
                      = link_to icon('fas', 'eye'), song_path(song), class: 'btn btn-secondary'
                    = link_to icon('fas', 'trash'), admin_song_path(song), method: :delete, class: 'btn btn-danger', data: { confirm: "本当に #{song.title} を削除しますか" }
