.playing-form
  = form.hidden_field :_destroy

  .playing-form-visible-fields.form-row.align-items-end
    .form-group.col-3.col-md-2
      = form.label :inst
      = form.text_field :inst, class: 'form-control', placeholder: 'Gt&Vo', list: 'instruments'

    .form-group.col
      = form.label :member_id
      = form.collection_select :member_id, Member.regular_order, :id, :joined_year_and_name, {}, class: 'form-control member-select'

    .form-group.col-3.col-md-2
      %button.btn.btn-block.btn-light{ type: 'button', data: { action: 'form-playings#removePlaying' } }= icon('fas', 'minus-circle', '削除')
