= form_with model: model, url: url, local: true do |form|
  .card-body
    = render 'shared/error_messages', errors: model.errors

    - if model.persisted?
      .form-group
        = form.label :live_id
        = form.collection_select :live_id, Live.newest_order, :id, :title, {}, class: 'form-control'

    - if model.live.nf?
      .form-group
        = form.label :time
        = form.time_field :time, class: 'form-control'

    .form-group
      = form.label :position
      = form.number_field :position, class: 'form-control'

    .form-group
      = form.label :name
      = form.text_field :name, required: true, class: 'form-control'

    .form-group
      = form.label :artist
      = form.text_field :artist, class: 'form-control', list: 'artists'
      %datalist#artists
        - Song.artists_for_suggestion.each do |artist|
          %option{ value: artist }

    .form-check.mb-3
      = form.check_box :original, class: 'form-check-input'
      = form.label :original, class: 'form-check-label'
      %small.form-text.text-muted 京大アンプラグドのメンバーが作詞・作曲した曲の場合にチェックしてください

    .form-group
      = form.label :youtube_url
      = form.url_field :youtube_url, class: 'form-control', placeholder: 'https://www.youtube.com/watch?v=sSbqm7ZK_9s', pattern: 'https?://(www\.youtube\.com|youtu\.be)/.*'

    .form-group
      = form.label :audio
      = form.file_field :audio, direct_upload: true, accept: 'audio/mpeg', class: 'form-control-file'

    %div{ data: { controller: 'form-plays' } }
      %template{ data: { target: 'form-plays.template' } }
        = form.fields_for :plays, Play.new, child_index: 'TEMPLATE_INDEX' do |plays_form|
          = render 'admin/songs/form_play', form: plays_form

      = form.fields_for :plays do |plays_form|
        = render 'admin/songs/form_play', form: plays_form

      %button.btn.btn-light{ type: 'button', data: { action: 'form-plays#addPlay' } }= icon('fas', 'plus-circle', '演者を追加する')

    %datalist#instruments
      - Play.insts_for_suggestion.each do |inst|
        %option{ value: inst }

  .card-footer
    = form.submit class: 'btn btn-primary'
