= form_with model: @song, url: live_entries_path do |f|

  .form-row
    .form-group.col-sm
      = f.label :name, class: 'col-form-label'
      = f.text_field :name, id: 'song_name', class: 'form-control', placeholder: 'Tears in Heaven'
    .form-group.col-sm
      = f.label :artist, class: 'col-form-label'
      = f.text_field :artist, id: 'song_artist', class: 'form-control', placeholder: 'Eric Clapton'

  #playings-fields
    = f.fields_for :playings do |builder|
      = render 'songs/playings_fields', f: builder

  .form-group
    .form-text= button_to_add_member(f)

  .form-group
    = f.label :status
    = f.select :status, { '公開': 'open', 'サークル内': 'closed', 'バンド内': 'secret' }, { selected: 'open' }, id: 'song_status', class: 'form-control'
    %small.form-text.text-muted 動画がアップロードされた際の公開範囲です。

  .form-row
    .form-group.col-sm
      = f.label :preferred_rehearsal_time, 'リハーサル希望時間'
      = f.text_area :preferred_rehearsal_time, id: 'song_preferred_rehearsal_time', class: 'form-control'
      %small.form-text.text-muted 無記入の場合，希望時間なしとなります。
    .form-group.col-sm
      = f.label :preferred_performance_time, '演奏希望時間'
      = f.text_area :preferred_performance_time, id: 'song_preferred_performance_time', class: 'form-control'
      %small.form-text.text-muted 無記入の場合，希望時間なしとなります。

  .form-group
    = f.label :notes, '備考'
    = f.text_area :notes, id: 'song_notes', class: 'form-control', rows: 3

  = f.submit 'Send', data: { confirm: '本当に送信しますか？' }, class: 'btn btn-primary'
