= form_with model: @song, url: live_entries_path do |f|

  = render 'songs/inputs/name', f: f

  = render 'songs/inputs/original', f: f

  = render 'songs/inputs/playings', f: f

  .form-group
    = f.label :status
    = icon 'fas', 'question-circle',
               'data-toggle': 'tooltip',
               'data-placement': 'right',
               title: '動画・音源の公開範囲です。「公開」は全てのユーザ，「サークル内」はログインユーザのみ，「バンド内」は演者のみに公開されます'
    = f.select :status, { '公開': 'open', 'サークル内': 'closed', 'バンド内': 'secret' }, { selected: 'open' }, class: 'form-control'

  .form-row
    .form-group.col-sm
      = label :entry, :preferred_rehearsal_time, Entry.human_attribute_name(:preferred_rehearsal_time)
      = text_area :entry, :preferred_rehearsal_time, id: 'entry_preferred_rehearsal_time', class: 'form-control'
    .form-group.col-sm
      = label :entry, :preferred_performance_time, Entry.human_attribute_name(:preferred_performance_time)
      = text_area :entry, :preferred_performance_time, id: 'entry_preferred_performance_time', class: 'form-control'

  .form-group
    = label :entry, :notes, Entry.human_attribute_name(:notes)
    = text_area :entry, :notes, id: 'entry_notes', class: 'form-control', rows: 3

  = f.submit '送信する', data: { confirm: '本当に送信しますか？' }, class: 'btn btn-primary'
