= form_with model: @song, url: live_entries_path do |f|

  .form-row
    .form-group.col-sm
      = f.label :name, class: 'col-form-label'
      = f.text_field :name, id: 'song_name', class: 'form-control', placeholder: 'Tears in Heaven'
    .form-group.col-sm
      = f.label :artist, class: 'col-form-label'
      = f.text_field :artist, id: 'song_artist', class: 'form-control', placeholder: 'Eric Clapton', list: 'artists'
      %datalist#artists
        - Song.artists_for_suggestion.each do |artist|
          %option{ value: artist }

  .form-group
    .custom-control.custom-checkbox.custom-control-inline
      = f.check_box :original, id: 'song_original', class: 'custom-control-input'
      = f.label :original, class: 'custom-control-label' do
        = Song.human_attribute_name(:original)
        = icon 'fas', 'question-circle',
               'data-toggle': 'tooltip',
               'data-placement': 'right',
               title: '京大アンプラグドのメンバーが作詞・作曲した曲の場合にチェックしてください'

  = render 'songs/playings_form', f: f

  .form-group
    = f.label :status
    = icon 'fas', 'question-circle',
           'data-toggle': 'tooltip',
           'data-placement': 'right',
           title: '動画の公開範囲です。「公開」は全てのユーザ，「サークル内」はログインユーザのみ，「バンド内」は演者のみに公開されます'
    = f.select :status, { '公開': 'open', 'サークル内': 'closed', 'バンド内': 'secret' }, { selected: 'open' }, id: 'song_status', class: 'form-control'

  .form-row
    .form-group.col-sm
      = label :entry, :preferred_rehearsal_time, Entry.human_attribute_name(:preferred_rehearsal_time)
      = text_area :entry, :preferred_rehearsal_time, id: 'entry_preferred_rehearsal_time', class: 'form-control'
    .form-group.col-sm
      = label :entry, :preferred_performance_time, Entry.human_attribute_name(:preferred_performance_time)
      = text_area :entry, :preferred_performance_time, id: 'entry_preferred_performance_time', class: 'form-control'

  .form-group
    = label :entry, :notes, Entry.human_attribute_name(:notes)
    = text_area :entry, :notes, id: 'entry_notes', class: 'form-control', rows: 3

  = f.submit t('views.application.send'), data: { confirm: t('views.application.send_confirm') }, class: 'btn btn-primary'
