= form_with model: @song, url: live_entries_path do |f|

  = render 'songs/inputs/name', f: f

  = render 'songs/inputs/original', f: f

  = render 'songs/inputs/playings', f: f

  = render 'songs/inputs/status', f: f

  .form-row
    .form-group.col-sm
      = label :entry, :preferred_rehearsal_time, Entry.human_attribute_name(:preferred_rehearsal_time)
      = text_area :entry, :preferred_rehearsal_time, id: 'entry_preferred_rehearsal_time', class: 'form-control'
    .form-group.col-sm
      = label :entry, :preferred_performance_time, Entry.human_attribute_name(:preferred_performance_time)
      = text_area :entry, :preferred_performance_time, id: 'entry_preferred_performance_time', class: 'form-control'

  .form-group
    = label :entry, :notes, Entry.human_attribute_name(:notes)
    = text_area :entry, :notes, id: 'entry_notes', class: 'form-control', rows: 3

  = f.submit t('views.application.send'), data: { confirm: t('views.application.send_confirm') }, class: 'btn btn-primary'
