- provide(:title, @live.title)
%header.page-header.d-flex.flex-column.flex-md-row.justify-content-between.align-items-md-center
  %h1<
    = @live.name
    %small.text-muted
      = @live.place.present? ? " #{I18n.l(@live.date)} @#{@live.place} " : I18n.l(@live.date)
  = link_to icon('paper-plane') + ' エントリーする', new_live_entry_path(@live), class: 'btn btn-info btn-lg'

- if current_user.admin_or_elder?
  %aside.btn-toolbar.justify-content-end.mb-3{ role: 'toolbar' }
    .btn-group.mr-2{ role: 'group' }
      = link_to 'Publish',
                live_publish_path(@live),
                method: :post,
                data: { confirm: "エントリーの受付を終了し，セットリストを公開します。\nこの操作は取り消せません。" },
                class: 'btn btn-outline-warning',
                'data-toggle': 'tooltip',
                'data-placement': 'left',
                title: 'エントリーの受付を終了し，セットリストを公開します'
    .btn-group{ role: 'group' }
      = link_to icon('pencil') + ' Edit', edit_live_path(@live), class: 'btn btn-outline-primary'
      - if @live.songs.blank?
        = link_to icon('trash') + ' Delete', @live, method: :delete, class: 'btn btn-outline-danger'
  %aside.card.mb-3
    .card-body.form-inline
      = label_tag :order_select, '並び替え', class: 'mr-2'
      = select_tag :order,
                   options_for_select({ '演奏順': 'default', '作成日時': 'created_at', '変更日時': 'updated_at' }, params[:order]),
                   id: :order_select,
                   class: 'form-control',
                   onchange: "location.href='#{request.path}?order=' + $(this).val();"

%p.text-right<
  全
  %b= @songs.size
  件
.song-list
  = render @songs
