- provide(:title, @live.title)
%header.page-header
  %h1<
    = @live.name
    %small.text-muted
      = @live.place.present? ? " #{I18n.l(@live.date)} @#{@live.place} " : I18n.l(@live.date)

.row
  .col-md-6.ml-auto.mr-auto.mb-4
    = link_to icon('paper-plane') + ' エントリーする', new_live_entry_path(@live), class: 'btn btn-outline-info btn-lg btn-block'

- if current_user.admin_or_elder?
  = render 'lives/btn_toolbar', live: @live

- if @entries.present?
  = render 'songs/songs_table', songs: @entries

