- provide(:title, @live.title)
%header.page-header
  %h1<
    = @live.name
    %small.text-muted
      = @live.place.present? ? " #{I18n.l(@live.date)} @#{@live.place} " : I18n.l(@live.date)
    - if @entries.present?
      = link_to icon('paper-plane') + ' エントリーする', new_live_entry_path(@live), class: 'btn btn-info btn-lg float-md-right mt-2'


- if current_user.admin_or_elder?
  = render 'lives/btn_toolbar', live: @live

- if @entries.present?
  = render 'songs/songs_table', songs: @entries
- else
  .row.mb-3
    .col-md-6.ml-auto.mr-auto
      = link_to icon('paper-plane') + ' エントリーする', new_live_entry_path(@live), class: 'btn btn-info btn-lg btn-block'
