- provide(:title, @live.title)
%header.page-header
  %h1<
    = @live.name
    %small
      = " #{I18n.l(@live.date)} @#{@live.place} "

- if @entries.present?
  = render 'lives/songs_table', songs: @entries
