.form-group
  = f.label :last_name, class: 'col-sm-3 control-label'
  .col-sm-9
    = f.text_field :last_name, class: 'form-control', placeholder: '京大'

.form-group
  = f.label :first_name, class: 'col-sm-3 control-label'
  .col-sm-9
    = f.text_field :first_name, class: 'form-control', placeholder: 'アンプラ太郎'

.form-group
  = f.label :furigana, class: 'col-sm-3 control-label'
  .col-sm-9
    = f.text_field :furigana, class: 'form-control', placeholder: 'きょうだいあんぷらたろう'
