%li
  = link_to user do
    = user.nickname.blank? ? user.full_name : "#{user.full_name} (#{user.nickname})"
  - if user.admin?
    %span *
  - if current_user.admin_or_elder? && !current_user?(user) && !user.activated
    = link_to glyphicon(:trash, 'text-danger'), method: :delete, data: {confirm: '本当に削除しますか？'}
