- provide(:title, 'Settings')
%header.page-header
  %h1 Settings

%section.mb-3
  = form_for @user do |f|
    = render 'shared/error_messages', object: f.object

    = render 'email_form', f: f

    .form-group
      .custom-control.custom-checkbox
        = f.check_box :subscribing, class: 'custom-control-input'
        = f.label :subscribing, class: 'custom-control-label' do
          LiveLog からのお知らせメールを受け取る
          = icon 'fas', 'question-circle',
                 'data-toggle': 'tooltip',
                 'data-placement': 'right',
                 title: '演奏した曲が今日のピックアップに選ばれた時などにお知らせします'

    = f.submit class: 'btn btn-primary'

%section
  %p= link_to 'パスワードを変更する', edit_user_password_path(@user)
