- provide(:title, 'Edit user')
- provide(:button_text, 'Save')
%header.page-header
  %h1 Update your profile

= form_for(@user, html: {class: 'form-horizontal well'}) do |f|
  = render 'shared/error_messages', object: f.object

  = render 'name_form', f: f

  .form-group
    = f.label :nickname, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :nickname, class: 'form-control'
      %span.help-block 同姓の人がいて紛らわしい，あだ名の方がわかりやすい，サークル外の人には名前を伏せたい，などの場合に利用してください

  = render 'email_form', f: f


