- provide(:title, 'Settings')
%header.page-header
  %h1 Settings

%p= link_to 'パスワードを変更する', edit_user_password_path(@user)

= form_for @user do |f|
  = render 'shared/error_messages', object: f.object

  = render 'name_form', f: f

  .form-group
    = f.label :nickname
    = f.text_field :nickname, class: 'form-control'

  = render 'email_form', f: f

  .form-group
    = f.label :url
    = f.url_field :url, class: 'form-control', placeholder: 'http://ku-unplugged.net/'

  .form-group
    = f.label :intro
    = f.text_area :intro, class: 'form-control', rows: '3'

  .form-group
    .custom-control.custom-checkbox.custom-control-inline
      = f.check_box :public, class: 'custom-control-input'
      = f.label :public, class: 'custom-control-label' do
        ログインしていないユーザにもプロフィールを公開する
        = icon 'question-circle',
               'data-toggle': 'tooltip',
               'data-placement': 'right',
               title: '名前とメールアドレスが公開されることはありません。ただし，ニックネームがない場合，姓は公開されます'

  .form-group
    .custom-control.custom-checkbox
      = f.check_box :subscribing, class: 'custom-control-input'
      = f.label :subscribing, class: 'custom-control-label' do
        LiveLog からのお知らせメールを受け取る
        = icon 'question-circle',
               'data-toggle': 'tooltip',
               'data-placement': 'right',
               title: '演奏した曲が今日のピックアップに選ばれた時などにお知らせします'

  = f.submit 'Save', class: 'btn btn-primary'


