- provide(:title, 'Invite user')
.page-header
  %h1
    Send an invitation to
    = @user.full_name

= render 'shared/error_messages'
= form_tag('/account_activations', method: :post, class: 'form-horizontal well') do
  = hidden_field_tag('user[id]', @user.id)

  .form-group
    = label_tag 'user[email]', 'メールアドレス', class: 'col-sm-3 control-label'
    .col-sm-9
      = email_field_tag 'user[email]', @user.email, class: 'form-control'

  .form-group
    .col-sm-offset-3.col-sm-9
      = submit_tag 'Invite', class: 'btn btn-primary'

