- provide(:title, 'New Member')
%header.page-header
  %h1 New Member

= form_for @user do |f|
  = render 'shared/error_messages', object: f.object

  = render 'name_form', f: f

  .form-group
    = f.label :joined
    = f.select :joined, (1995..current_nendo).to_a.reverse, {}, {class: 'form-control'}
    %small.form-text.text-muted<
      初めてライブに出演した年度を選択してください。
      %strong 入部年度は後から変更することができません。

  = f.submit 'Add', class: 'btn btn-primary'
