- provide(:title, 'Add member')
.page-header
  %h1 Add member
= render 'shared/error_messages'
= form_for(@user, html: {class: 'form-horizontal well'}) do |f|
  .form-group
    = f.label :last_name, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :last_name, class: 'form-control', placeholder: '京大'

  .form-group
    = f.label :first_name, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :first_name, class: 'form-control', placeholder: 'アンプラ太郎'

  .form-group
    = f.label :furigana, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :furigana, class: 'form-control', placeholder: 'きょうだいあんぷらたろう'
      %span.help-block 姓名の間はスペースなしで詰めてください

  .form-group
    = f.label :joined, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.select :joined, (1995..nendo).to_a.reverse, {}, {class: 'form-control'}
      %span.help-block 初めてライブに出演した年度を選択してください

  .form-group
    .col-sm-offset-3.col-sm-9
      = f.submit 'Add', class: 'btn btn-primary'
