- provide(:title, @user.display_name)
- provide(:description, @user.intro.presence || "#{@user.joined}年度入部 #{@user.instruments}")
- provide(:og_type, 'profile')
- provide(:og_image, @user.avatar_source(:large))
- content_for :additional_meta_fields do
  %meta{ property: 'profile:username', content: @user.handle }

%section.member-detail.card.mb-3
  .card-body
    .d-flex.flex-column.flex-sm-row.align-items-sm-center.mb-2
      .member-thumbnail.text-center
        = @user.avatar_image_tag(:large, class: 'm-3')
      .member-info
        .card-subtitle.text-muted
          = @user.joined
        %h1
          = @user.display_name
          %small.text-muted= icon('fas', 'lock') unless @user.public?
        .card-subtitle.text-muted<
          #{@songs.size}曲
          ・
          = @user.instruments.join(', ')
        = link_to @user.url, @user.url, target: '_blank' if @user.url?
    %dl
      %dt
        = t('views.users.collaborators')
        %small.text-muted #{@user.collaborators_count}人
      %dd
        %ul.list-inline
          - @user.top_10_collaborators.each do |collaborator|
            %li.list-inline-item
              = policy(collaborator).show? ? link_to(collaborator.avatar_image_tag(:small), collaborator) : collaborator.avatar_image_tag(:small)
              = policy(collaborator).show? ? link_to(collaborator.handle, collaborator) : collaborator.handle
      - if @user.intro?
        %dt= User.human_attribute_name(:intro)
        %dd= simple_format(@user.intro, class: 'text-muted')
    %aside.btn-toolbar{ role: 'toolbar' }
      - if !@user.activated? && policy(@user).invite?
        .btn-group
          = @user.invite_link class: 'btn btn-info'
      - if policy(@user).edit?
        .btn-group
          = @user.edit_link class: 'btn btn-outline-primary'
      - if current_user&.admin_or_elder?
        .btn-group#admin-tools
          - if @user.activated? && policy(@user).change_status?
            - if @user.admin?
              = @user.delete_admin_link class: 'btn btn-outline-secondary'
            - else
              = @user.deactivate_link class: 'btn btn-outline-warning'
              = @user.create_admin_link class: 'btn btn-outline-danger'
          - elsif @songs.empty? && policy(@user).destroy?
            = @user.delete_link class: 'btn btn-outline-danger'

- if @songs.any?(&:playable?)
  = render 'songs/playlist', songs: @songs.select(&:playable?)

- if @songs.present?
  .song-list
    - if logged_in?
      = render @songs
    - else
      = render partial: 'songs/song', collection: @songs, cached: true
