- provide(:title, @user.display_name(logged_in?))
- total = @user.performed_songs.count
%header.page-header
  %h1
    = @user.display_name(logged_in?)
    %small.text-muted
      = @user.joined
      = icon('lock') unless @user.public?
    - if logged_in? && !@user.activated?
      =link_to icon('envelope') + ' Invite', new_user_activation_path(@user), class: 'btn btn-info btn-lg float-md-right mt-2'

%article
  .row
    .col-lg-2.col-md-3.col-sm-4.mb-3
      %section.card
        %h6.card-header 出演数・楽器
        .card-body.text-center.lead
          %mark= total
          曲
        %ul.list-group.list-group-flush
          - Playing.resolve_insts(@user.playings.count_insts).each do |inst, count|
            - unless inst.blank?
              %li.list-group-item.d-flex.justify-content-between.align-items-center
                = inst
                %span.badge.badge-pill.badge-secondary= count
    - unless total == 0
      .col-lg-2.col-md-3.col-sm-4.mb-3
        %section.card
          %h6.card-header アーティスト
          .list-group.list-group-flush
            - last_count = 0
            - @user.performed_songs.group(:artist).count.select { |a, _| a.present? }.sort { |(_, c1), (_, c2)| c2 <=> c1 }.each_with_index do |(artist, count), i|
              - break if count < 2 || i >= 5 && count != last_count
              = link_to songs_path(q: artist),
                        class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center' do
                = artist
                %span.badge.badge-pill.badge-secondary= count
              - last_count = count
      .col-lg-2.col-md-3.col-sm-4.mb-3
        %section.card
          %h6.card-header 共演者
          .card-body.text-center.lead
            %mark= @playings.group(:user).count.size - 1
            人
          .list-group.list-group-flush
            - last_count = 0
            - @playings.group(:user).count.sort{ |(_, c1), (_, c2)| c2 <=> c1 }.slice(1..-1).each_with_index do |(user, count), i|
              - break if count < 2 || i >= 5 && count != last_count
              = link_to_user user, logged_in?, class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center' do
                = user.display_name(logged_in?)
                %span.badge.badge-pill.badge-secondary= count
              - last_count = count
      .col-lg-2.col-md-3.col-sm-4.mb-3
        %section.card
          %h6.card-header 構成人数
          %ul.list-group.list-group-flush
            - sum = 0
            - Playing.count_formation(@playings.count_members_per_song).each do |formation, count|
              %li.list-group-item.d-flex.justify-content-between.align-items-center
                = "#{formation}人"
                %span.badge.badge-pill.badge-secondary= count
              - sum += formation * count
          .card-body
            平均
            %mark= (sum.to_f / total).round(2)
            人
    .col-lg-4.col-sm-8.mb-3
      %section.card
        %h6.card-header 自己紹介
        .card-body
          %dl
            - if logged_in? && current_user.admin? && @user.email.present?
              %dt Email
              %dd= mail_to @user.email
            - if @user.url.present?
              %dt URL
              %dd= link_to @user.url, @user.url, target: '_blank'
          = simple_format(@user.intro)

  = render 'songs/songs_table', songs: @user.performed_songs.order_by_live.includes(playings: :user)

  - if logged_in? && current_user.admin?
    .btn-toolbar.justify-content-end{ role: 'toolbar' }
      - if @user.activated? && current_user != @user
        .btn-group{ role: 'group' }
          - if @user.admin?
            = link_to '管理者権限を無効にする', user_admin_path(@user), method: :delete, data: { confirm: '本当に管理者権限を無効にしますか？' }, class: 'btn btn-outline-secondary'
          - else
            = link_to 'アカウントを無効にする', user_activation_path(@user), method: :delete, data: { confirm: '本当にアカウントを無効にしますか？' }, class: 'btn btn-outline-warning'
            = link_to '管理者にする', user_admin_path(@user), method: :post, data: { confirm: '本当に管理者にしますか？' }, class: 'btn btn-outline-danger'
      - elsif !@user.performed_songs.exists?
        .btn-group{ role: 'group' }
          = link_to icon('trash') + ' Delete', @user, method: :delete, class: 'btn btn-outline-danger'
