- provide(:title, @user.full_name(logged_in?))
- total = @user.songs.count
%header.page-header

  - if logged_in?
    %ul.pull-right.list-inline
      - if !@user.activated?
        %li=link_to glyphicon(:envelope) + '招待する', new_user_activation_path(@user), class: 'btn btn-info btn-lg'
        - if current_user.admin_or_elder? && !@user.songs.exists?
          %li= link_to glyphicon(:trash) + 'Delete', @user, method: :delete, class: 'btn btn-danger'
      - elsif current_user.admin? && current_user != @user
        - if @user.admin?
          %li= link_to '管理者権限を無効にする', user_admin_path(@user), method: :delete, data: {confirm: '本当に管理者権限を無効にしますか？'}, class: 'btn btn-default'
        - else
          %li= link_to 'アカウントを無効にする', user_activation_path(@user), method: :delete, data: {confirm: '本当にアカウントを無効にしますか？'}, class: 'btn btn-warning'
          %li= link_to '管理者にする', user_admin_path(@user), method: :post, data: {confirm: '本当に管理者にしますか？'}, class: 'btn btn-danger'

  %h1
    = @user.full_name(logged_in?)
    %small
      = @user.joined
      - if logged_in?
        = @user.public? ? glyphicon(:globe) : glyphicon(:lock)

.row
  
  = render 'panel', title: '出演数・楽器' do
    .panel-body.text-center.lead
      %mark= total
      曲
    %ul.list-group
      - Playing.resolve_insts(@user.playings.count_insts).each do |inst, count|
        - unless inst.blank?
          %li.list-group-item
            %span.badge= count
            = inst

  - unless total == 0

    = render 'panel', title: 'アーティスト' do
      %ul.list-group
        - @user.songs.group(:artist).count.sort { |(k1, v1), (k2, v2)| v2 <=> v1 }.take(20).each do |artist, count|
          - if count >= 2 && (count.to_f / total) >= 0.04 && !artist.blank?
            %li.list-group-item
              %span.badge= count
              = artist

    = render 'panel', title: '共演者' do
      .panel-body
        %mark= @playings.group(:user).count.size - 1
        人
      %ul.list-group
        - @playings.group(:user).count.sort{ |(k1, v1), (k2, v2)| v2 <=> v1 }.take(20).each do |user, count|
          - if user != @user && count >= 2 && ((count.to_f / total) >= 0.2 || count >= 10)
            %li.list-group-item
              %span.badge= count
              = logged_in? || user.public? ? link_to(user.full_name(logged_in?), user) : user.handle

    = render 'panel', title: '構成人数' do
      %ul.list-group
        - sum = 0
        - Playing.count_formation(@playings.count_members_per_song).each do |formation, count|
          %li.list-group-item
            %span.badge= count
            = "#{formation}人"
          - sum += formation * count
      .panel-body
        平均
        %mark= (sum.to_f / total).round(2)
        人

  .col-xs-12.col-sm-6.col-md-4
    %section.panel.panel-default
      %header.panel-heading
        %h2.panel-title 自己紹介
      .panel-body
        %dl
          - if logged_in? && current_user.admin? && !@user.email.blank?
            %dt Email
            %dd= mail_to @user.email
          - unless @user.url.blank?
            %dt URL
            %dd= link_to @user.url, @user.url, target: '_blank'
        = simple_format(@user.intro)

= render 'songs/songs_table', songs: @user.songs.order_by_live, show_live: true
