%header.content-header
  .container-fluid
    .row.mb-3
      .col-sm-6
        %h1= Developer.model_name.human
      .col-sm-6
        %ol.breadcrumb.float-sm-right
          %li.breadcrumb-item= link_to 'Home', admin_root_path
          %li.breadcrumb-item.active= Developer.model_name.human

%section.content
  .container-fluid
    - @developers.each do |developer|
      %section.card
        .card-header
          = developer.user.member.joined_year_and_name
          = link_to icon('fab', 'github', developer.github_username), github_user_url(developer.github_username), class: 'badge badge-primary'
        .card-body.p-0
          - unless developer.clients.empty?
            .table-responsive
              %table.table-admin.table.table-striped.text-nowrap.mb-0
                %thead
                  %tr
                    %th{ scope: 'col' } ロゴ
                    - %i[name auth0_id description created_at].each do |attr|
                      %th{ scope: 'col' }= Client.human_attribute_name(attr)
                %tbody
                  - developer.clients.reverse_each do |client|
                    %tr
                      %td= image_tag client.logo_url, size: '32', class: 'rounded'
                      %td= client.name
                      %td= client.auth0_id
                      %td= simple_format(client.description, class: 'mb-0')
                      %td= l client.created_at
