- provide(:title, 'Developer')

- if current_user
  %aside.mb-3
    %p.alert.alert-primary
      LiveLog GraphQL API については
      = link_to 'GitHub Wiki', 'https://github.com/sankichi92/LiveLog/wiki', target: '_blank', class: 'alert-link'
      を、LiveLog アカウントを使った Single Sign-On の実装については
      = link_to 'https://auth0.com/docs/quickstarts', 'https://auth0.com/docs/quickstarts', target: '_blank', class: 'alert-link'
      を参照してください。
    - if current_user.developer
      %p= link_to icon('fas', 'plus', 'アプリケーションを登録する'), new_client_path, class: 'btn btn-outline-primary'
    - else
      %p= link_to icon('fab', 'github', 'GitHub アカウントと連携して開発者登録する'), '/auth/github', method: :post, class: 'btn btn-outline-info'

%section.row
  = render @clients
