= form_with model: song, id: "form-song-#{song.id}", class: 'mb-3' do |f|

  = render 'songs/inputs/time_order', f: f

  = render 'songs/inputs/name', f: f

  = render 'songs/inputs/media', f: f

  = f.submit class: 'btn btn-primary'

%hr
