= form_for @song do |f|
  = render 'shared/error_messages', errors: f.object.errors

  = render 'songs/inputs/time_position', f: f

  = render 'songs/inputs/name', f: f

  = render 'songs/inputs/original', f: f

  = render 'songs/inputs/playings', f: f

  .form-group
    = f.label :audio
    .filename= icon('fas', 'music') + ' ' + f.object.audio.filename if f.object.audio.attached?
    = f.file_field :audio, direct_upload: true, accept: 'audio/mpeg', class: 'form-control-file'

  .form-group
    = f.label :status
    = icon 'fas', 'question-circle',
               'data-toggle': 'tooltip',
               'data-placement': 'right',
               title: '動画・音源の公開範囲です。「公開」は全てのユーザ，「サークル内」はログインユーザのみ，「バンド内」は演者のみに公開されます'
    = f.select :status, { '公開': 'open', 'サークル内': 'closed', 'バンド内': 'secret' }, { selected: 'open' }, class: 'form-control', disabled: !f.object.player?(current_user&.member)

  .form-group
    = f.label :comment
    = f.text_area :comment, class: 'form-control', rows: 3, disabled: !f.object.player?(current_user&.member)

  = f.submit class: 'btn btn-primary'

