= form_for(@song, html: {class: 'form-horizontal well'}) do |f|
  = render 'shared/error_messages', object: f.object

  .form-group
    = f.label :live_id, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.collection_select :live_id, Live.all, :id, :title, {}, {class: 'form-control'}

  .form-group
    = f.label :order, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :order, class: 'form-control', placeholder: '1'

  - if @song.live.name.include?('NF')
    .form-group
      = f.label :time, class: 'col-sm-3 control-label'
      .col-sm-9
        = f.time_field :time, class: 'form-control', placeholder: '10:00'

  .form-group
    = f.label :name, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :name, class: 'form-control', placeholder: 'Tears in Heaven'

  .form-group
    = f.label :artist, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :artist, class: 'form-control', placeholder: 'Eric Clapton'

  .form-group
    = f.label :youtube_url, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :youtube_url, class: 'form-control', placeholder: 'https://www.youtube.com/watch?v=sSbqm7ZK_9s'

  .form-group
    .col-sm-offset-3.col-sm-9
      = f.submit yield(:button_text), class: 'btn btn-primary'
