= form_for @song do |f|
  = render 'shared/error_messages', object: f.object

  = render 'songs/inputs/live_time_order', f: f

  = render 'songs/inputs/name', f: f

  = render 'songs/inputs/original', f: f

  = render 'songs/inputs/playings', f: f

  = render 'songs/inputs/media', f: f

  - if f.object.player?(current_user)
    = render 'songs/inputs/status', f: f

    .form-group
      = f.label :comment
      = f.text_area :comment, class: 'form-control', rows: 3

  = f.submit class: 'btn btn-primary'

