= form_for @song do |f|
  = render 'shared/error_messages', object: f.object

  - if current_user.admin?
    .form-group
      = f.label :live_id
      = f.collection_select :live_id, Live.order_by_date, :id, :title, {}, class: 'form-control'

  .form-row
    - if @song.nf?
      .form-group.col
        = f.label :time, class: 'col-form-label'
        = f.time_field :time, class: 'form-control', placeholder: '10:00'
    .form-group.col
      = f.label :order, class: 'col-form-label'
      = f.number_field :order, class: 'form-control', placeholder: '1'

  .form-row
    .form-group.col-sm
      = f.label :name, class: 'col-form-label'
      = f.text_field :name, class: 'form-control', placeholder: 'Tears in Heaven'
    .form-group.col-sm
      = f.label :artist, class: 'col-form-label'
      = f.text_field :artist, class: 'form-control', placeholder: 'Eric Clapton'

  #playings-fields
    = f.fields_for :playings do |builder|
      = render 'playings_fields', f: builder

  .form-group
    .form-text= button_to_add_member(f)

  - if current_user.admin?
    .form-group
      = f.label :youtube_id
      = f.url_field :youtube_id, value: @song.youtube_url, class: 'form-control', placeholder: 'https://www.youtube.com/watch?v=sSbqm7ZK_9s'

  - if current_user.played?(@song)
    = render 'status_form', f: f
    .form-group
      = f.label :comment
      = f.text_area :comment, class: 'form-control', rows: 3


  = f.submit yield(:button_text), class: 'btn btn-primary'

