%section.modal.fade{ tabindex: '-1', role: 'dialog' }
  .modal-dialog.modal-dialog-centered.modal-lg
    .modal-content
      .modal-header
        %header
          .text-muted
            = link_to song.live_title, song.live
            = song.time_order
          %h5
            = song.title
        %button{ type: 'button', class: 'close', 'data-dismiss': 'modal', 'aria-label': 'Close'}
          %span{ 'aria-hidden': true} &times;
      - if song.watchable?(current_user)
        .embed-responsive.embed-responsive-16by9
          = youtube_embed(song)
      .modal-body
        %ul.list-inline.mb-2
          = render song.playings.sort_by(&:inst_order)
        = simple_format(song.comment) if song.comment?
