= f.hidden_field :_destroy, value: 0
.form-group{id: "song_playings_attributes_#{f.index}_fields"}
  = f.label :user
  .form-row
    .col-3.col-md-2
      = f.text_field :inst, class: 'form-control', placeholder: 'Gt&Vo', list: 'instruments'
    .col
      = f.collection_select :user_id, User.natural_order, :id, :name_with_handle, {}, class: 'select2 form-control'
    .col-2.col-md-1
      = content_tag :button,
                    icon('fas', 'minus'),
                    type: 'button', class: 'remove-member btn btn-block btn-light', data: { prefix: "song_playings_attributes_#{f.index}" }

