%tr
  - if show_live
    %td= link_to song.live.title, song.live
  %td= song.time_order
  %td= can_watch?(song) ? link_to(song.name, song) : song.name
  %td= song.artist
  %td
    %ul.list-inline
      = render song.playings.order_by_inst
  %td= render 'songs/link_to_edit', song: song
