%tr
  %td= link_to song.live_title, song.live
  %td= song.time_order
  %td= song.watchable?(current_user) ? link_to(song.name, song) : song.name
  %td= song.artist
  %td
    %ul.list-inline
      = render sort_by_inst(song.playings)
  %td= render 'songs/link_to_edit', song: song
