= link_to song, class: 'song-item px-0 px-md-3' do
  .row.align-items-center
    - if song.youtube_id.present? && policy(song).play?
      .song-thumbnail.col-4.col-xl-3.pr-0
        = image_tag song.youtube_thumbnail, class: 'img-fluid'

    .song-info.col
      .text-muted
        = song.live.title unless current_page?(song.live) || params[:controller] == 'entries'
        = song.time_order

      %h5
        = song.title
        %small= '(オリジナル曲)' if song.original?
        = song.status_icon if song.player?(current_user&.member)

      %ul.list-inline.mb-2
        - song.playings.sort_by(&:inst_order).each do |playing|
          %li.list-inline-item<
            = playing.instrument_and_name

      %p.text-muted.mb-0= truncate strip_tags(song.comment) if song.comment?

      - unless song.live.published?
        %small.text-muted= l(song.created_at, format: :short)
