%section.song-item.d-flex.flex-column.flex-md-row.align-items-md-center
  - if song.watchable?(current_user)
    .song-thumbnail.text-center.mb-2.mb-md-0.mr-md-3
      = link_to watch_song_path(song), remote: true do
        = image_tag song.youtube_thumbnail
  .song-info
    %header
      .text-muted
        = link_to song.live_title, song.live unless current_page?(song.live) || params[:controller] == 'entries'
        = song.time_order
      %h5
        = song.title
        %small= '(オリジナル曲)' if song.original?
        = status_icon(song) if current_user&.played?(song)
    %ul.list-inline.mb-2
      = render song.playings.sort_by(&:inst_order)
    = simple_format(song.comment) if song.comment?
    %aside.btn-group{ role: 'group' }
      - if song.published?
        .btn-group{ role: 'group' }
          %button#share-button.btn.btn-link.btn-sm.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false' }
            = icon('share') + ' Share'
          .dropdown-menu{ 'aria-labelledby': 'share-button' }
            = twitter_share_button(song, class: 'dropdown-item')
      = link_to icon('pencil') + ' Edit', edit_song_path(song), class: 'btn btn-link btn-sm' if song.editable?(current_user)
    - unless song.published?
      %footer
        %small.text-muted= l song.created_at, format: :short
