- provide(:title, 'Song Search')
%header.page-header
  %h1.display-4 Song Search

%nav#searchTabs.nav.nav-pills.justify-content-end.mb-3{ role: 'tablist' }
  - advanced = current_page?(search_songs_path) && params[:q].nil?
  %a#basicTab.nav-item.nav-link{ class: advanced ? '' : 'active', 'data-toggle': 'pill', href: '#basic', role: 'tab', 'aria-controls': 'basic', 'aria-selected': !advanced }
    Basic
  %a#advancedTab.nav-item.nav-link{ class: advanced ? 'active' : '', 'data-toggle': 'pill', href: '#advanced', role: 'tab', 'aria-controls': 'advanced', 'aria-selected': advanced }
    Advanced

#searchTabsContent.tab-content
  #basic.tab-pane.fade{ class: advanced ? '' : 'show active', role: 'tabpanel', 'aria-labelledby': 'basicTab' }
    = render 'search_form'
  #advanced.tab-pane.fade{ class: advanced ? 'show active' : '', role: 'tabpanel', 'aria-labelledby': 'advancedTab' }
    = form_with model: @search || Song::Search.new, scope: '', url: search_songs_path, method: :get, local: true, class: 'mb-3' do |f|

      - if params[:user_id].present?
        .form-group
          = f.label :user_id
          = f.number_field :user_id, id: 'user_id', class: 'form-control', readonly: true

      .form-row
        .form-group.col-sm
          = f.label :name, class: 'col-form-label'
          = f.text_field :name, id: 'name', class: 'form-control', placeholder: '楓'
        .form-group.col-sm
          = f.label :artist, class: 'col-form-label'
          = f.text_field :artist, id: 'artist', class: 'form-control', placeholder: 'スピッツ'

      .form-row
        .form-group.col-sm
          = f.label :instruments, class: 'col-form-label'
          = f.text_field :instruments, id: 'instruments', class: 'form-control', placeholder: 'Vo Gt Ba Cj -Vn'
        .form-group.col-sm
          = f.label :players_count, class: 'col-form-label'
          .input-group
            = f.number_field :players_lower, class: 'form-control', placeholder: '4'
            %span.input-group-addon 〜
            = f.number_field :players_upper, class: 'form-control', placeholder: '6'

      .form-group
        = f.label :date
        .input-group
          = f.date_field :date_lower, value: params[:date_lower], class: 'form-control'
          %span.input-group-addon 〜
          = f.date_field :date_upper, value: params[:date_upper], class: 'form-control'

      .form-check
        = f.label :video, class: 'form-check-label' do
          = f.check_box :video, id: 'video', class: 'form-check-input'
          動画を視聴できる曲のみ

      = f.submit 'Search', class: 'btn btn-primary'

- if @songs.present?
  #results
    %p.text-right
      = page_entries_info
    = render 'songs/songs_table', songs: @songs
    = will_paginate inner_window: 2, outer_window: 0, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer

- else
  .alert.alert-danger{ role: 'alert' }
    曲が見つかりませんでした
