- provide(:title, '曲検索')
- provide(:description, "京大アンプラグドで演奏された曲の「#{params[:q]}」の検索結果") if params[:q].present?

%ul.nav.nav-pills.mb-3#search-tabs{ role: 'tablist' }
  - advanced = current_page?(search_songs_path) && params[:q].nil?
  %li.nav-item
    %a.nav-link.nav-item#basic-tab{ class: advanced ? '' : 'active', 'data-toggle': 'pill', href: '#basic', role: 'tab', 'aria-controls': 'basic', 'aria-selected': !advanced }
      簡単
  %li.nav-item
    %a.nav-item.nav-link#advanced-tab{ class: advanced ? 'active' : '', 'data-toggle': 'pill', href: '#advanced', role: 'tab', 'aria-controls': 'advanced', 'aria-selected': advanced }
      詳細

.tab-content#search-tabs-content
  .tab-pane.fade#basic{ class: advanced ? '' : 'show active', role: 'tabpanel', 'aria-labelledby': 'basic-tab' }
    = render 'form_basic_search', query: params[:q]
  .tab-pane.fade#advanced{ class: advanced ? 'show active' : '', role: 'tabpanel', 'aria-labelledby': 'advanced-tab' }
    = render 'form_advanced_search', song_search_form: @song_search_form

- if @songs.present?
  %section#results
    %p.text-right.d-none.d-md-block
      = page_entries_info @songs, entry_name: '曲'
    .song-list.mb-3
      - if current_user
        = render @songs.to_a
      - else
        = render partial: 'song', collection: @songs.to_a, cached: true
    = paginate @songs

- else
  .alert.alert-danger{ role: 'alert' }
    曲が見つかりませんでした
