- provide(:title, 'Song Search')
- provide(:description, "京大アンプラグドで演奏された曲の「#{params[:q]}」の検索結果") if params[:q].present?
%header.page-header.d-none.d-sm-block
  %h1.display-4 Song Search

%ul.nav.nav-pills.mb-3#search-tabs{ role: 'tablist' }
  - advanced = current_page?(search_songs_path) && params[:q].nil?
  %li.nav-item
    %a.nav-link.nav-item#basic-tab{ class: advanced ? '' : 'active', 'data-toggle': 'pill', href: '#basic', role: 'tab', 'aria-controls': 'basic', 'aria-selected': !advanced }
      Basic
  %li.nav-item
    %a.nav-item.nav-link#advanced-tab{ class: advanced ? 'active' : '', 'data-toggle': 'pill', href: '#advanced', role: 'tab', 'aria-controls': 'advanced', 'aria-selected': advanced }
      Advanced

.tab-content#search-tabs-content
  .tab-pane.fade#basic{ class: advanced ? '' : 'show active', role: 'tabpanel', 'aria-labelledby': 'basic-tab' }
    = render 'form_search'
  .tab-pane.fade#advanced{ class: advanced ? 'show active' : '', role: 'tabpanel', 'aria-labelledby': 'advanced-tab' }
    = form_with model: @query, scope: '', url: search_songs_path, method: :get, local: true, class: 'mb-3' do |f|

      .form-row
        .form-group.col-sm
          = f.label :name, class: 'col-form-label'
          = f.text_field :name, class: 'form-control', placeholder: '楓'
        .form-group.col-sm
          = f.label :artist, class: 'col-form-label'
          = f.text_field :artist, class: 'form-control', placeholder: 'スピッツ', list: 'artists'
          %datalist#artists
            - Song.artists_for_suggestion.each do |artist|
              %option{ value: artist }

      .form-row
        .form-group.col-sm
          = f.label :instruments, class: 'col-form-label'
          = f.text_field :instruments, class: 'form-control', placeholder: 'Vo Gt Ba Cj -Vn'
        .form-group.col-sm
          = f.label :players_count, class: 'col-form-label'
          .input-group
            = f.number_field :players_lower, class: 'form-control col', placeholder: '4'
            .input-group-append.input-group-prepend
              %span.input-group-text 〜
            = f.number_field :players_upper, class: 'form-control col', placeholder: '6'

      .form-group
        = f.label :date
        .input-group
          = f.date_field :date_lower, value: params[:date_lower], class: 'form-control'
          .input-group-append.input-group-prepend
            %span.input-group-text 〜
          = f.date_field :date_upper, value: params[:date_upper], class: 'form-control'

      .custom-control.custom-checkbox.mb-2
        = f.check_box :original, class: 'custom-control-input'
        = f.label :original, class: 'custom-control-label'

      .custom-control.custom-checkbox.mb-3
        = f.check_box :media, class: 'custom-control-input'
        = f.label :media, class: 'custom-control-label'

      = f.submit t('views.application.search'), class: 'btn btn-primary'

- if @songs.present?
  #results
    %p.text-right.d-none.d-md-block
      = page_entries_info
    .song-list.mb-3
      - if logged_in?
        = render @songs
      - else
        = render partial: 'song', collection: @songs, cached: true
    = will_paginate inner_window: 1, outer_window: 0, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'd-flex justify-content-center'

- else
  .alert.alert-danger{ role: 'alert' }
    = t('views.songs.no_results')
