- provide(:title, 'Song Search')
%header.page-header
  %h1.display-4 Song Search

= render 'search_form'

- if @songs.present?
  %p.text-right
    = page_entries_info
  = render 'songs/songs_table', songs: @songs
  = will_paginate inner_window: 2, outer_window: 0, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer

- else
  .alert.alert-danger{role: 'alert'}
    %strong= params[:q]
    に一致する曲は見つかりませんでした。
