- provide(:title, @song.name)
%article
  %header.page-header
    %h1<
      = "#{@song.name} / #{@song.artist}"
      %small
        = link_to @song.live.title, @song.live
        = '-' unless @song.order.blank?
        = @song.time_str unless @song.time.blank?
        = @song.order
        = render 'link_to_edit', song: @song

  .row
    - unless @song.youtube_id.blank?
      .col-sm-12.col-md-9
        %p.embed-responsive.embed-responsive-16by9
          = @song.youtube_embed
    = render 'panel', title: 'Members' do
      %ul.list-group
        = render @song.playings, klass: 'list-group-item'
    - unless @song.comment.blank?
      = render 'panel', title: 'Comments' do
        .panel-body
          %p= @song.comment


  %nav
    %ul.pager
      %li.previous{class: (@song.previous.nil? ? 'disabled' : '')}
        = link_to @song.previous do
          %span{'aria-hidden': true} &larr;
          Previous
      %li.next{class: (@song.next.nil? ? 'disabled' : '')}
        = link_to @song.next do
          Next
          %span{'aria-hidden': true} &rarr;
