- provide(:title, "#{@song.name} | #{@song.live.title}")
%article
  %header.page-header
    %h1<
      = @song.title
      %small= render 'link_to_edit', song: @song

  %ol.breadcrumb
    %li= link_to 'Live List', lives_path
    %li= link_to @song.live.title, @song.live
    %li.active= "#{@song.time_order} #{@song.name}"

  .row
    - unless @song.youtube_id.blank?
      .col-sm-12.col-md-9
        %p.embed-responsive.embed-responsive-16by9
          = @song.youtube_embed

    = render 'panel', title: 'Members' do
      %ul.list-group
        = render @song.playings, klass: 'list-group-item'

    - if logged_in? && current_user.played?(@song)
      = render 'panel', title: 'Edit' do
        .panel-body
          = form_for(@song, remote: true) do |f|
            .form-group
              = f.label :status
              = f.select :status, {'バンド内': 'secret', 'サークル内': 'closed', '公開': 'open'}, {}, class: 'form-control'
            .form-group
              = f.label :comment
              = f.text_area :comment, class: 'form-control', rows: 3
            = f.submit 'Save', class: 'btn btn-primary'
    - elsif !@song.comment.blank?
      = render 'panel', title: 'Comments' do
        .panel-body
          %p= @song.comment

  %nav
    %ul.pager
      %li.previous{class: (@song.previous.nil? ? 'disabled' : '')}
        = link_to @song.previous do
          %span{'aria-hidden': true} &larr;
          Previous
      %li.next{class: (@song.next.nil? ? 'disabled' : '')}
        = link_to @song.next do
          Next
          %span{'aria-hidden': true} &rarr;
