:ruby
  provide(:title, @song.title)
  provide(:description, strip_tags(@song.comment).presence || "#{@song.live.title} #{@song.time_and_position} #{@song.plays.sort_by(&:instrument_order).map { |p| "#{p.instrument_and_name}" }.join(' ')}")
  provide(:og_type, 'music.song')
  provide(:og_image, @song.youtube_thumbnail('maxresdefault')) if policy(@song).play?

- content_for :additional_meta_fields do
  - @song.plays.each do |play|
    %meta{ property: 'music:musician', content: member_url(play.member) }

%article
  - if @song.youtube_id.present? && policy(@song).play?
    %script{ src: 'https://www.youtube.com/iframe_api', async: true }
    .embed-responsive.embed-responsive-16by9.mb-3
      = @song.youtube_embed

  %section.song-detail.card.mb-3
    .card-body
      %header
        .card-subtitle.text-muted
          = link_to @song.live.title, @song.live
          = @song.time_and_position
        %h1.card-title
          = @song.title
          %small= '(オリジナル曲)' if @song.original?
          = @song.status_icon if @song.player?(current_user&.member)
      - if @song.plays.present?
        .mb-3= render @song.plays.sort_by(&:instrument_order)
      - if @song.comment.present?
        = simple_format(@song.comment, class: 'text-muted')
      - if @song.playable?
        .mb-3= audio_tag @song.audio_url, controls: true, class: 'gtag-audio', data: { song_id: @song.id }
      %aside.btn-toolbar{ role: 'toolbar' }
        - if @song.live.published?
          .btn-group.mr-2{ role: 'group' }
            %button.btn.btn-primary.dropdown-toggle#share-button{ type: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false' }
              = icon('fas', 'share') + ' ' + '共有'
            .dropdown-menu{ 'aria-labelledby': 'share-button' }
              = @song.twitter_share_button class: 'dropdown-item'
              = @song.facebook_share_button class: 'dropdown-item btn'
        - if policy(@song).edit?
          .btn-group
            = @song.edit_link class: 'btn btn-outline-primary'

  - unless @song.original?
    %aside.card.mb-3.d-none#itunes{ data: { song_id: @song.id, track_name: @song.name, artist_name: @song.artist } }
      .card-body
        %h5.card-title
        .d-flex.align-items-center
          %a.d-box.mr-2
            %img.img-thumbnail{ target: '_blank' }
          .preview
            .card-subtitle
            %audio{ controls: true, volume: 0.8 }
            %a.d-block{ target: '_blank' }
              = image_tag 'JP_iTunes_Store_Buy_Badge_RGB.svg'

  %nav
    %ul.pagination.pagination-lg.justify-content-center
      - if @song.previous.present?
        %li.page-item
          = link_to @song.previous, class: 'page-link' do
            %span{ 'aria-hidden': true } &laquo;
            = @song.previous.title
      - if @song.next.present?
        %li.page-item
          = link_to @song.next, class: 'page-link' do
            = @song.next.title
            %span{ 'aria-hidden': true } &raquo;

  - if @related_songs.present?
    %section
      %header
        %h2.h3 似ている曲
      %hr
      .song-list.mb-3
        - if current_user
          = render @related_songs
        - else
          = render partial: 'song', collection: @related_songs, cached: true
