- provide(:title, @song.name)
%article
  %header.page-header
    %h1<
      = "#{@song.name} / #{@song.artist}"
      %small
        = link_to @song.live.title, @song.live
        = '-' unless @song.order.blank?
        = @song.time_str unless @song.time.blank?
        = @song.order
        = render 'link_to_edit', song: @song

  - if @song.youtube_id.blank?
    %ul#player-list.list-inline
      = render @song.playings
  - else
    .row
      .col-sm-9
        .embed-responsive.embed-responsive-16by9
          = @song.youtube_embed
      .col-sm-3
        %ul#player-list.list-unstyled
          = render @song.playings

  %nav
    %ul.pager
      %li.previous{class: (@song.previous.nil? ? 'disabled' : '')}
        = link_to @song.previous do
          %span{'aria-hidden': true} &larr;
          Previous
      %li.next{class: (@song.next.nil? ? 'disabled' : '')}
        = link_to @song.next do
          Next
          %span{'aria-hidden': true} &rarr;
