- provide(:title, "#{@member.name}を招待する")

%header
  %h1.h2 #{@member.name}さんを招待する

%hr

.row
  = render @member

%section
  = form_with model: @invitation, url: member_invitation_path(@member), local: true do |form|

    = render 'shared/error_messages', errors: @invitation.errors

    .form-group
      = form.label :email
      = form.email_field :email, required: true, class: 'form-control'

    = form.submit '送信する', class: 'btn btn-primary'
