%dl
  %dt 申請者
  %dd= link_to "#{@entry.applicant.name} (#{@entry.applicant.joined})", user_url(@entry.applicant)
  %dt ライブ
  %dd= link_to @entry.live.title, live_url(@entry.live)
  %dt 曲名 / アーティスト名
  %dd
    = link_to @entry.name, song_url(@entry.song)
    = "/ #{@entry.artist}" if @entry.artist.present?
    = ' （オリジナル曲）' if @entry.song.original?
  %dt メンバー
  %dd
    - @entry.playings.reverse_each do |playing|
      #{playing.inst}.
      -# TODO
      = link_to "#{playing.member.name} (#{playing.member.joined_year})", user_url(playing.member_id)
      %br
  %dt リハーサル希望時間
  %dd= @entry.preferred_rehearsal_time
  %dt 演奏希望時間
  %dd= @entry.preferred_performance_time
  %dt 備考
  %dd= @entry.notes
