%dl
  %dt 申請者
  %dd= link_to "#{@entry.applicant.member.name} (#{@entry.applicant.member.joined_year})", member_url(@entry.applicant.member)
  %dt ライブ
  %dd= link_to @entry.live.title, live_url(@entry.live)
  %dt 曲名 / アーティスト名
  %dd
    = link_to @entry.name, song_url(@entry.song)
    = "/ #{@entry.artist}" if @entry.artist.present?
    = ' （オリジナル曲）' if @entry.song.original?
  %dt メンバー
  %dd
    - @entry.plays.reverse_each do |play|
      #{play.instrument}.
      = link_to "#{play.member.name} (#{play.member.joined_year})", member_url(play.member)
      %br
  %dt リハーサル希望時間
  %dd= @entry.preferred_rehearsal_time
  %dt 演奏希望時間
  %dd= @entry.preferred_performance_time
  %dt 備考
  %dd= @entry.notes
