%section.card
  = form_with model: entry_guideline, url: admin_live_entry_guideline_path(entry_guideline.live) do |form|
    .card-body
      = render 'shared/error_messages', errors: entry_guideline.errors

      .form-group
        = form.label :deadline
        = form.datetime_field :deadline, required: true, step: 1.hour.to_i, class: 'form-control'

      .form-group
        = form.label :notes
        = form.text_area :notes, class: 'form-control'

    .card-footer
      = form.submit class: 'btn btn-primary'
