- provide(:title, 'Change Password')
%header.page-header
  %h1 パスワードを変更する

= form_for @user, url: user_password_path do |f|
  = render 'shared/error_messages', object: f.object

  .form-group
    = f.label :current_password, '現在のパスワード'
    = f.password_field :current_password, class: 'form-control'

  = render 'passwords/form', f: f, label: '新しいパスワード'

  = f.submit 'Save', class: 'btn btn-primary'
