- provide(:title, 'Activation')
.page-header
  %h1 Activate an account

= render 'shared/error_messages'
= form_for(@user, url: user_activations_path, html: {class: 'form-horizontal well'}) do |f|
  = hidden_field_tag :t, params[:t]

  .form-group
    = f.label :name, '名前', class: 'col-sm-3 control-label'
    .col-sm-9
      %p.form-control-static= @user.full_name

  .form-group
    = f.label :email, class: 'col-sm-3 control-label'
    .col-sm-9
      %p.form-control-static= @user.email

  .form-group
    = f.label :password, 'パスワードを作成', class: 'col-sm-3 control-label'
    .col-sm-9
      = f.password_field :password, class: 'form-control'

  .form-group
    = f.label :password_confirmation, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.password_field :password_confirmation, class: 'form-control'

  .form-group
    .col-sm-offset-3.col-sm-9
      = f.submit 'Activate', class: 'btn btn-primary'
