- provide(:title, 'Activation')
- provide(:button_text, 'Activate')
%header.page-header
  %h1 Activate an account

= form_for(@user, url: user_activation_path, html: {class: 'form-horizontal well'}) do |f|
  = render 'shared/error_messages', object: f.object

  = hidden_field_tag :t, params[:t]

  .form-group
    = f.label :name, '名前', class: 'col-sm-3 control-label'
    .col-sm-9
      %p.form-control-static= @user.full_name

  .form-group
    = f.label :joined, class: 'col-sm-3 control-label'
    .col-sm-9
      %p.form-control-static= @user.joined

  = render 'passwords/form', f: f, label: 'パスワードを作成'

  = render 'shared/submit', f: f
