- provide(:title, "Invite #{@user.name}")
%header.page-header
  %h1
    Send an Invitation to
    = @user.name

= form_for @user, url: user_activation_path, html: { method: :post } do |f|
  = render 'shared/error_messages', errors: f.object.errors

  = render 'users/email_form', f: f

  = f.submit '送信する', class: 'btn btn-primary'
