- provide :title, 'ユーザー登録'
- content_for :additional_meta_fields do
  %meta{ name: 'robots', content: 'noindex' }

= form_with model: @member, url: user_registration_form_members_path(@user_registration_form.token), local: true do |form|
  = render 'shared/error_messages', errors: @member.errors

  .form-group
    = form.label :joined_year
    = form.number_field :joined_year, min: Member::MINIMUM_JOINED_YEAR, max: Time.zone.now.year, required: true, class: 'form-control'

  .form-group
    = form.label :name
    = form.text_field :name, required: true, class: 'form-control'
    %small.form-text.text-muted 同じ入部年度内で重複せず、他のメンバーが識別できる名前であれば本名でなくとも構いません。あとから変更することもできます

  = fields model: @member.user do |user_form|
    .form-group
      = user_form.label :email
      = user_form.email_field :email, required: true, class: 'form-control'
      %small.form-text.text-muted パスワード設定のためのURLを記載したメールを送信します

  = form.submit class: 'btn btn-primary'
