%p
  = link_to @song.live_title, live_url(@song.live)
  であなたが演奏した「
  = @song.title
  」が
  = link_to 'LiveLog', root_url
  の今日のピックアップに選ばれました！
%p
  今日のピックアップは，
  - if !@song.open?
    = link_to 'ログイン', login_url
    すると
  = link_to 'LiveLog', root_url
  のトップページから確認することができます。
  %br
  = root_url
%hr
%p
  %small
    配信停止をご希望の方は，ログイン後
    = link_to '設定', edit_profile_url
    より「LiveLog からのお知らせメールを受け取る」のチェックを外してください。
    %br
    = edit_profile_url

