= form_for @life do |f|
  - if @life.errors.any?
    #error_explanation
      %h2= "#{pluralize(@life.errors.count, "error")} prohibited this life from being saved:"
      %ul
        - @life.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :place
    = f.text_field :place
  .actions
    = f.submit 'Save'
