= form_for @live do |f|
  = render 'shared/error_messages', errors: f.object.errors

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control', placeholder: '6月ライブ'

  .form-group
    = f.label :date
    = f.date_field :date, class: 'form-control'

  .form-group
    = f.label :place
    = f.text_field :place, class: 'form-control', placeholder: '4共21'

  .form-group
    = f.label :album_url
    = f.url_field :album_url, class: 'form-control', placeholder: 'https://goo.gl/photos/o94hbpFHQtcjzjwj6'
    %small.form-text.text-muted 共同編集・コメント可能な <a href="https://photos.google.com" target="_blank">Google フォト</a> の共有アルバム推奨です。

  = f.submit class: 'btn btn-primary'
