= form_for(@live, html: {class: 'form-horizontal well'}) do |f|
  = render 'shared/error_messages', object: f.object

  .form-group
    = f.label :name, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :name, class: 'form-control', placeholder: '6月ライブ'

  .form-group
    = f.label :date, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.date_field :date, value: Date.today, class: 'form-control'

  .form-group
    = f.label :place, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :place, class: 'form-control', placeholder: '4共21'

  .form-group
    .col-sm-offset-3.col-sm-9
      = f.submit yield(:button_text), class: 'btn btn-primary'
