= form_for(@live, html: {class: 'form-horizontal well'}) do |f|
  = render 'shared/error_messages', object: f.object

  .form-group
    = f.label :name, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :name, class: 'form-control', placeholder: '6月ライブ'

  .form-group
    = f.label :date, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.date_field :date, class: 'form-control'

  .form-group
    = f.label :place, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :place, class: 'form-control', placeholder: '4共21'

  .form-group
    = f.label :album_url, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :album_url, class: 'form-control', placeholder: 'https://goo.gl/photos/o94hbpFHQtcjzjwj6'
      %p.help-block 共同編集・コメント可能な <a href="https://photos.google.com/?hl=ja" target="_blank">Google フォト</a> の共有アルバム推奨です。

  = render 'shared/submit', f: f
