- provide(:title, @live.title)
- provide(:description, "#{l(@live.date)} @#{@live.place} #{@live.songs.map.with_index { |s, i| "#{i + 1}.#{s.name}" }.join(' ')}")

%article
  %header.card.mb-3
    .card-body.lead
      .card-subtitle.text-muted= l @live.date
      %h1.card-title= @live.name
      %p.card-text.text-muted= @live.at_place
      - if @live.comment.present?
        = simple_format(@live.comment, class: 'text-muted')
      - if current_user && @live.album_url.present?
        = link_to icon('fas', 'images', 'アルバム'), album_live_path(@live), class: 'card-link btn btn-primary', target: '_blank', rel: 'noopener'

  .song-list
    = render @live.songs
