- provide(:title, @live.title)
- provide(:description, "#{l(@live.date)} @#{@live.place} #{@live.songs.played_order.map.with_index { |s, i| "#{i + 1}.#{s.name}" }.join(' ')}")
%article
  %header.page-header.d-flex.flex-column.flex-md-row.justify-content-between.align-items-md-center
    %h1
      = @live.name
      %small.text-muted
        = @live.date_and_place
    - if @live.album_url.present? && policy(@live).album?
      = @live.link_to_album class: 'btn btn-primary btn-lg', target: '_blank'

  - if current_user&.admin_or_elder?
    %aside#admin-tools.btn-toolbar.justify-content-end.mb-3{ role: 'toolbar' }
      .btn-group.mr-2{ role: 'group' }
        = @live.new_song_link class: 'btn btn-outline-secondary'
      .btn-group{ role: 'group' }
        = @live.edit_link class: 'btn btn-outline-primary'
        - if @live.songs.blank?
          = @live.delete_link class: 'btn btn-outline-danger'

  .song-list
    = render @live.songs.played_order.includes(playings: :user)
