- provide(:title, @live.title)
- provide(:description, "#{l(@live.date)} @#{@live.place} #{@songs.map.with_index { |s, i| "#{i + 1}.#{s.name}" }.join(' ')}")
%article
  %header.page-header.d-flex.flex-column.flex-md-row.justify-content-between.align-items-md-center
    %h1
      = @live.name
      %small.text-muted
        = @live.date_and_place
    - if current_user && @live.album_url.present?
      = @live.link_to_album class: 'btn btn-primary btn-lg', target: '_blank'

  - if @songs.to_a.any?(&:audio_playable?)
    = render 'songs/playlist', songs: @songs.select(&:audio_playable?)

  .song-list
    = render @songs
