- provide(:title, @live.title)
%article
  %header.page-header

    - if logged_in? && current_user.admin_or_elder?
      %ul.pull-right.list-inline
        %li= link_to glyphicon('plus-sign') + 'Add song', new_song_path(live_id: @live.id), class: 'btn btn-default', role: 'button'
        %li= link_to glyphicon(:edit) + 'Edit', edit_live_path(@live), class: 'btn btn-primary', role: 'button'
        - unless @songs.exists?
          %li= link_to glyphicon(:trash) + 'Delete', @live, method: :delete, class: 'btn btn-danger', role: 'button'

    %h1<
      = @live.name
      %small= "#{I18n.l(@live.date)} @#{@live.place}"

  - if @songs.count > 20
    = render 'songs/songs_table', songs: @songs, show_live: false
  - else
    %ol#set-list
      - @songs.each do |song|
        %li
          = can_watch?(song) ? link_to(song.name, song) : song.name
          = "/ #{song.artist}"
          = render 'songs/link_to_edit', song: song
          %ul.list-inline
            = render song.playings.order_by_inst

