- provide(:title, @live.title)
- provide(:description, "#{l(@live.date)} @#{@live.place} #{@songs.map.with_index { |s, i| "#{i + 1}.#{s.name}" }.join(' ')}")
%article
  %header.page-header.d-flex.flex-column.flex-md-row.justify-content-between.align-items-md-center
    %h1
      = @live.name
      %small.text-muted
        = @live.date_and_place
    - if @live.album_url.present? && policy(@live).album?
      = @live.link_to_album class: 'btn btn-primary btn-lg', target: '_blank'

  - if current_user&.admin_or_elder?
    %aside.btn-toolbar.justify-content-end.mb-3#admin-tools{ role: 'toolbar' }
      .btn-group.mr-2{ role: 'group' }
        = @live.new_song_link class: 'btn btn-outline-secondary'
        = link_to icon('fas', 'edit') + ' ' + '曲を編集する', live_path(@live, edit: true), class: 'btn btn-outline-secondary'
      .btn-group{ role: 'group' }
        = @live.edit_link class: 'btn btn-outline-primary'
        - if @songs.empty?
          = @live.delete_link class: 'btn btn-outline-danger'

  - if @songs.to_a.any?(&:playable?)
    = render 'songs/playlist', songs: @songs.select(&:playable?)

  - if params[:edit].present? && current_user&.admin?
    = render partial: 'songs/form_easy', collection: @songs, as: :song
  - else
    .song-list
      = render @songs
