- provide(:title, 'メール・通知設定')

%header
  %h1 設定

%hr

= render 'settings/nav'

%section
  = form_with url: email_path, method: :patch, local: true do |form|

    = render 'shared/error_messages', errors: @errors

    .form-group
      = form.label :email, 'メールアドレス'
      = form.email_field :email, value: @auth0_user.email, class: 'form-control'

    .form-group
      .custom-control.custom-checkbox
        = form.check_box :accept, checked: @auth0_user.email_verified? && @auth0_user.email_accepting?, disabled: !@auth0_user.email_verified?, class: 'custom-control-input'
        = form.label :accept, 'LiveLog からのお知らせメールを受け取る', class: 'custom-control-label'
      - unless @auth0_user.email_verified?
        %small.form-text.text-danger メールアドレスが確認されていません。メールに記載されているURLにアクセスし、メールアドレスを確認してください

    = form.submit @auth0_user.email_verified? ? '更新する' : '確認メールを送信する', class: 'btn btn-primary'
