- provide(:title, "統計 #{@stats.year}")
- provide(:description, "#{@stats.year}年度に京大アンプラグドで行った演奏の統計情報")

%article
  %nav.nav.nav-pills.mb-3
    - Live.published.years.each do |year|
      = link_to year, stat_path(year), class: "nav-link#{year == @stats.year ? ' active' : ''}"

  %p.lead<
    = @stats.year
    年度は
    %mark= @stats.number_of_players
    人のメンバーで
    %mark= @stats.number_of_songs
    曲を演奏しました。

  .row
    .col-lg.mb-3
      %section.card
        %h5.card-header 演奏された楽器
        .card-body
          %p<
            %mark= @stats.instrument_to_count.size
            種類の楽器が演奏されました。
          %ul.list-inline
            - @stats.instrument_to_count.each do |instrument, count|
              %li.list-inline-item.lead
                = link_to_search instrument, instruments: instrument, date_range: @stats.date_range
                %span.badge.badge-pill.badge-secondary= count

    .col-lg.mb-3
      %section.card
        %h5.card-header カバーしたアーティスト
        .card-body
          %p<
            %mark= @stats.number_of_artists
            組のアーティストの曲が演奏されました。
            - unless @stats.top10_artist_to_count.empty?
              %br
              特に次のアーティストが人気です。
        .list-group.list-group-flush
          - @stats.top10_artist_to_count.each do |artist, count|
            = link_to_search({ artist: artist, date_range: @stats.date_range },
                             class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center') do
              = artist
              %span.badge.badge-pill.badge-secondary= count

    .col-lg.mb-3
      %section.card
        %h5.card-header バンドの構成人数
        .card-body
          %p<
            構成人数の平均は
            %mark= @stats.average_formation
            人でした。
        %table.table.table-hover
          %thead
            %tr
              %th 人数
              %th 割合
              %th 曲数
          %tbody
          - @stats.formation_to_count.each do |formation, count|
            %tr{ onclick: "location.href='#{search_songs_path(players_lower: formation, players_upper: formation, date_lower: @stats.date_range.begin, date_upper: @stats.date_range.end)}#results';" }
              %td #{formation}人
              %td<
                = (count / @stats.number_of_songs.to_f * 100).round(1)
                \%
              %td
                %span.badge.badge-pill.badge-secondary= count
