%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', 'data-toggle': 'collapse', 'data-target': '#bs-navbar-collapse', 'area-expanded': false}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'LiveLog', root_path, class: 'navbar-brand'
    #bs-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Song Search', '#'
        %li= link_to 'Live List', '#'
        %li= link_to 'Members', users_path
        - if logged_in?
          %li= link_to 'Stats', '#'
        - else
          %li= link_to 'About', about_path
      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          %li.dropdown
            %a{href: '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
              = current_user.full_name
              %span.caret
              %ul.dropdown-menu
                %li= link_to 'Profile', current_user
                %li= link_to 'Settings', edit_user_path(current_user)
                %li= link_to 'Log out', logout_path, method: :delete
        - else
          %li= link_to 'Log in', login_path
