%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', 'data-toggle': 'collapse', 'data-target': '#bs-navbar-collapse', 'area-expanded': false}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'LiveLog', root_path, class: 'navbar-brand'
    #bs-navbar-collapse.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: current_page?(songs_path) ? 'active' : ''}= link_to 'Song Search', songs_path
        %li{class: params[:controller] == 'lives' ? 'active' : ''}= link_to 'Live List', lives_path
        %li{class: params[:controller] == 'users' ? 'active' : ''}= link_to 'Members', users_path
        %li{class: current_page?(stats_path) ? 'active' : ''}= link_to 'Stats', stats_path
      - if logged_in?
        %ul.nav.navbar-nav.navbar-right
          - if current_user.admin_or_elder?
            %li.dropdown
              %a{href: '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
                Actions
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'New Live', new_live_path
                %li= link_to 'Add Member', new_user_path
          %li.dropdown
            %a{href: '#', class: 'dropdown-toggle', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
              = current_user.full_name
              %span.caret
            %ul.dropdown-menu
              %li= link_to glyphicon(:user) + 'Profile',  current_user
              %li= link_to glyphicon(:cog) + 'Settings', edit_user_path(current_user)
              %li= link_to glyphicon('log-out') + 'Log out', logout_path, method: :delete
              - if Live.future.exists?
                %li.divider{role: 'separator'}
                %li.dropdown-header Apply
                - Live.future.each do |live|
                  %li= link_to live.name, new_live_entry_path(live)
              %li.divider{role: 'separator'}
              %li= link_to glyphicon(:comment) + 'Report', feedback_url(current_user), target: '_blank'
      - else
        = link_to login_path do
          %button.btn.btn-default.navbar-btn.navbar-right= glyphicon('log-in') + 'Log in'
