!!!
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }

    %title= t('admin.title')

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'admin', data: { 'turbolinks-track': 'reload' }
    = javascript_pack_tag 'admin', defer: true, data: { 'turbolinks-track': 'reload' }

  %body.hold-transition.sidebar-mini
    .wrapper
      %nav.main-header.navbar.navbar-expand.navbar-light.navbar-white
        %ul.navbar-nav
          %li.nav-item= link_to icon('fas', 'bars'), '#', class: 'nav-link', data: { widget: 'pushmenu' }
        %ul.navbar-nav.ml-auto
          %li.nav-item= link_to 'Back to App', root_path, class: 'nav-link'

      %aside.main-sidebar.sidebar-dark-primary.elevation-4
        = link_to admin_root_path, class: 'brand-link' do
          = image_tag 'logo.png', class: 'brand-image'
          %span.brand-text.font-weight-light= t('admin.title')

        .sidebar
          .user-panel.d-flex.pb-3.my-3
            .image= image_tag current_user.member.avatar_url, class: 'img-circle'
            .info= link_to current_user.member.name, '#', class: 'd-block'

          %nav.mt-3
            %ul.nav-sidebar.nav.nav-pills.flex-column{ role: 'menu', data: { widget: 'treeview' } }
              %li.nav-item
                = link_to admin_lives_path, class: "nav-link#{params[:controller] == 'admin/lives' ? ' active' : ''}" do
                  = icon('fas', 'guitar', class: 'nav-icon')
                  %p= Live.model_name.human
              %li.nav-item
                = link_to admin_members_path, class: "nav-link#{params[:controller] == 'admin/members' ? ' active' : ''}" do
                  = icon('fas', 'users', class: 'nav-icon')
                  %p= Member.model_name.human
              %li.nav-item
                = link_to admin_entries_path, class: "nav-link#{params[:controller] == 'admin/entries' ? ' active' : ''}" do
                  = icon('fas', 'paper-plane', class: 'nav-icon')
                  %p= Entry.model_name.human

              %li.nav-header TOOLS
              %li.nav-item
                = link_to slack_invitation_url, class: 'nav-link' do
                  = icon('fab', 'slack', class: 'nav-icon')
                  %p Slack
              %li.nav-item
                = link_to github_url, class: 'nav-link' do
                  = icon('fab', 'github', class: 'nav-icon')
                  %p GitHub
              %li.nav-item
                = link_to heroku_url, class: 'nav-link' do
                  = icon('far', 'circle', class: 'nav-icon')
                  %p Heroku
              %li.nav-item
                = link_to google_analytics_url, class: 'nav-link' do
                  = icon('fab', 'google', class: 'nav-icon')
                  %p Analytics
              %li.nav-item
                = link_to google_search_console_url, class: 'nav-link' do
                  = icon('fab', 'google', class: 'nav-icon')
                  %p Search Console
              %li.nav-item
                = link_to twitter_url, class: 'nav-link' do
                  = icon('fab', 'twitter', class: 'nav-icon')
                  %p Twitter

      %main.content-wrapper
        = render 'layouts/flash'

        = yield

      %footer.main-footer
        %small &copy; 2014-#{Time.zone.now.year} #{link_to '京大アンプラグド', organization_url }
