!!!
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    = render 'application/favicon'
    %title= full_title(yield(:title))
    - default_description = '京都大学を中心に活動するアコースティック軽音サークル「京大アンプラグド」のセットリスト管理アプリ'
    %meta{ name: 'description', content: yield(:description).presence || default_description }
    %meta{ property: 'og:url', content: request.original_url }
    %meta{ property: 'og:type', content: yield(:og_type).presence || 'website' }
    %meta{ property: 'og:title', content: yield(:title).presence || 'LiveLog' }
    %meta{ property: 'og:description', content: yield(:description).presence || default_description }
    %meta{ property: 'og:image', content: yield(:og_image).presence || image_url('logo.png') }
    %meta{ property: 'fb:app_id', content: '555963681451627' }
    %meta{ name: 'twitter:site', content: '@ku_livelog' }
    - if content_for?(:additional_meta_fields)
      = yield(:additional_meta_fields)
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if Rails.env.production?
      %script{ src: 'https://www.googletagmanager.com/gtag/js?id=UA-56294602-1', async: true }
      - unless logged_in?
        %script{ src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js', async: true }
  %body{ data: { user_id: current_user&.id } }
    = render 'layouts/navbar'
    .container#main
      = render 'layouts/flash'
      - if current_user&.graduate? && !current_user&.donated? && cookies[:close_alert_donation] != '1'
        = render 'shared/alert_donation'
      = yield
      - if Rails.env.production? && !logged_in?
        %aside.my-3= render 'shared/content-ads'
    = render 'layouts/footer'
    = debug(params) if Rails.env.development?
