!!!
%html{lang: 'ja'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    = render 'application/favicon'
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    - if Rails.env.production?
      %script{ src: 'https://www.google-analytics.com/analytics.js', async: true }
      - if logged_in?
        :javascript
          ga('set', 'userId', '#{current_user.id}');
      - else
        %script{ src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js', async: true }
  %body
    = render 'layouts/navbar'
    #main.container
      = render 'layouts/flash'
      = yield
      %aside= render 'shared/content-ads' if Rails.env.production? && !logged_in?
    = render 'layouts/footer'
    = debug(params) if Rails.env.development?
