!!!
%html{ lang: 'ja' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }

    %title= content_for?(:title) ? "#{content_for(:title)} | #{t('app.title')}" : t('app.title')
    %meta{ name: 'description', content: content_for(:description).presence || t('app.description') }

    = csrf_meta_tags
    = csp_meta_tag

    %meta{ property: 'og:url', content: request.original_url }
    %meta{ property: 'og:type', content: content_for(:og_type).presence || 'website' }
    %meta{ property: 'og:title', content: content_for(:title).presence || t('app.title') }
    %meta{ property: 'og:description', content: content_for(:description).presence || t('app.description') }
    %meta{ property: 'og:image', content: content_for(:og_image).presence || image_url('logo.png') }

    %meta{ property: 'fb:app_id', content: '555963681451627' }
    %meta{ name: 'twitter:site', content: '@ku_livelog' }

    - if content_for?(:additional_meta_fields)
      = content_for(:additional_meta_fields)

    = render 'application/favicon'

    = stylesheet_link_tag 'application', data: { 'turbolinks-track': 'reload' }
    = javascript_pack_tag 'application', defer: true, data: { 'turbolinks-track': 'reload' }

    %script{ src: 'https://www.googletagmanager.com/gtag/js?id=UA-56294602-1', async: true }

  %body{ data: { user_id: current_user&.id } }
    %nav.navbar.navbar-expand-lg.sticky-top.navbar-light.bg-primary.mb-4#navbar
      .container
        = link_to t('app.title'), root_path, class: 'navbar-brand'
        %button.navbar-toggler{ type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbar-content', 'aria-controls': 'navbar-content', 'aria-expanded': 'false', 'aria-label': 'Toggle navigation' }
          %span.navbar-toggler-icon

        .collapse.navbar-collapse#navbar-content
          %ul.navbar-nav.mr-auto
            %li.nav-item{ class: current_page?(songs_path) || current_page?(search_songs_path) ? 'active' : '' }= link_to '曲検索', songs_path, class: 'nav-link'
            %li.nav-item{ class: params[:controller] == 'lives' ? 'active' : '' }= link_to 'ライブ', lives_path, class: 'nav-link'
            %li.nav-item{ class: params[:controller] == 'members' ? 'active' : '' }= link_to 'メンバー', members_path, class: 'nav-link'
            %li.nav-item{ class: params[:controller] == 'stats' ? 'active' : '' }= link_to '統計', stat_path('current'), class: 'nav-link'

          - if current_user
            %ul.nav.navbar-nav
              - if current_user.admin?
                %li.nav-item.dropdown
                  %a.nav-link.dropdown-toggle#navbar-admin-dropdown-menu-link{ href: '#', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false' }
                    Admin
                  .dropdown-menu.dropdown-menu-right{ 'aria-labellebdy': 'navbar-admin-dropdown-menu-link' }
                    = link_to 'New Live', new_live_path, class: 'dropdown-item'

              - if Live.drafts.exists?
                %li.nav-item.dropdown{ class: params[:controller] == 'entries' ? 'active' : '' }
                  %a.nav-link.dropdown-toggle#navbar-entry-dropdown-menu-link{ href: '#', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false' }
                    = 'エントリー'
                  .dropdown-menu.dropdown-menu-right{ 'aria-labellebdy': 'navbar-entry-dropdown-menu-link' }
                    - Live.drafts.order_by_date.reverse_each do |live|
                      = link_to live.name, live_entries_path(live), class: 'dropdown-item'

              %li.nav-item.dropdown
                %a.nav-link.dropdown-toggle#navbar-user-dropdown-menu-link{ href: '#', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'false' }
                  = current_user.member.name
                .dropdown-menu.dropdown-menu-right{ 'aria-labellebdy': 'navbar-user-dropdown-menu-link' }
                  = link_to icon('fas', 'user', 'プロフィール'), current_user.member, class: 'dropdown-item'
                  = link_to icon('fas', 'cog', '設定'), profile_path, class: 'dropdown-item'
                  .dropdown-divider
                  = link_to icon('fas', 'sign-out-alt', 'ログアウト'), logout_path, method: :delete, class: 'dropdown-item'

          - else
            = link_to icon('fas', 'sign-in-alt', 'ログイン'), '/auth/auth0', method: :post, class: 'btn btn-outline-info'

    .container
      = render 'layouts/flash'

      %main
        = yield

      - if Rails.env.production? && current_user.nil?
        %script{ src: '//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js', async: true }
        %aside.my-3= render 'shared/content-ads'

      %footer.text-center.my-3
        %ul.list-inline
          %li.list-inline-item
            %small &copy; 2014-#{Time.zone.now.year} #{link_to '京大アンプラグド', organization_url, target: '_blank', class: 'text-dark', rel: 'noopener' }
          %li.list-inline-item
            %small= link_to 'プライバシーポリシー', privacy_path, class: 'text-muted'
          %li.list-inline-item
            %small= link_to icon('fab', 'twitter', 'Twitter'), twitter_url, class: 'text-muted', target: '_blank', rel: 'noopener'
          %li.list-inline-item
            %small= link_to icon('fab', 'github', 'GitHub'), github_url, class: 'text-muted', target: '_blank', rel: 'noopener'
          - if current_user
            %li.list-inline-item
              %small= link_to icon('fab', 'slack', 'Slack'), slack_invitation_url, class: 'text-muted', target: '_blank', rel: 'noopener'
            %li.list-inline-item
              %small= link_to 'フィードバック', feedback_url(current_user), class: 'text-muted', target: '_blank', rel: 'noopener'
            - if current_user.member.graduate?
              %li.list-inline-item
                %small= link_to 'カンパのお願い', donation_path, class: 'text-muted'
