!!!
%html{lang: 'ja'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv': 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = render 'application/favicon'
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = render 'page-level-ads' if Rails.env.production? && !logged_in?
    = render 'layouts/shim'
  %body
    = render 'shared/analyticstracking' if Rails.env.production?
    = render 'layouts/navbar'
    #main.container
      = render 'layouts/flash'
      = yield
      = render 'layouts/content-ads' if Rails.env.production? && !logged_in?
    = render 'layouts/footer'
    = debug(params) if Rails.env.development?
