:ruby
  provide(:title, @member.name)
  provide(:description, strip_tags(@member.bio).presence || "#{@member.joined_year}年度入部 #{@member.played_instruments}")
  provide(:og_type, 'profile')
  provide(:og_image, @member.avatar_url(:large)) if @member.avatar.attached?

- content_for :additional_meta_fields do
  %meta{ property: 'profile:username', content: @member.name }

%section.member-detail.card.mb-3
  .card-body

    .d-flex.flex-column.flex-sm-row.align-items-sm-center.mb-2
      .text-center
        = @member.avatar_image_tag(:large, class: 'm-3')
      %div
        .card-subtitle.text-muted= @member.joined_year
        %h1= @member.name
        .card-subtitle.text-muted<
          #{@songs.size}曲
          = "・#{@member.played_instruments.join(', ')}" unless @member.played_instruments.empty?
        = link_to @member.url, @member.url, target: '_blank', rel: 'noopener' if @member.url?

    - if @member.bio?
      = simple_format(@member.bio, class: 'text-muted')

    - if current_user&.member == @member
      .mb-3
        = link_to 'プロフィールを編集する', profile_path, class: 'btn btn-outline-primary'

    - unless @collaborators.empty?
      %h5
        = '共演者'
        %small.text-muted #{@collaborators.size}人
      %ul.list-inline
        - @collaborators.take(10).each do |collaborator|
          %li.list-inline-item
            = link_to collaborator.avatar_image_tag(:small), collaborator
            = link_to collaborator.name, collaborator

    %aside.btn-toolbar{ role: 'toolbar' }
      - if current_user && @member.user_id.nil?
        .btn-group.mr-2
          = link_to 'LiveLog に招待する', new_member_invitation_path(@member), class: 'btn btn-info'

- unless (playable_songs = @songs.select(&:playable?)).empty?
  = render 'songs/playlist', songs: playable_songs

- unless @songs.empty?
  .song-list
    - if current_user
      = render @songs
    - else
      = render partial: 'songs/song', collection: @songs, cached: true
